<ion-header>
    <ion-navbar>
        <ion-title>Reset Password</ion-title>
        <!-- <ion-buttons end>
      <button *ngIf="!verifyOTPBtnHide" ion-button (click)="closeClick()" icon-only><ion-icon style="font-size: 30px;font-weight: bold;" name="close"></ion-icon></button>
    </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content>

    <!------------------------- Enter Email  ----------------------->
    <div *ngIf="isemailContainerShow" class="otpContainer">
        <ion-label style="white-space: normal;text-align: center;">Enter your email address and we will send you a 4-Digit code to reset your password.</ion-label>
        <ion-item style="padding: 0;border: 1px solid lightgray;">
            <ion-input type="email" [(ngModel)]="emailModel" placeholder="Email"></ion-input>
        </ion-item>
        <button ion-button color="seekmiblue" block class="mtop" (click)="GetOTPClick()">Send Code</button>
    </div>

    <!------------------------- Enter OTP  ----------------------->
    <div padding class="otpContainer" *ngIf="isOTPContaienrShow">
        <ion-label class="lblTwo">Enter the code we send to your Email:<span
                style="font-weight: bold;">{{emailModel}}</span>
        </ion-label>

        <ion-row class="otpInputContainer">
            <ion-col class="colOne">{{OTPModelOne}}</ion-col>
            <ion-col class="colOne">{{OTPModelTwo}}</ion-col>
            <ion-col class="colOne">{{OTPModelThree}}</ion-col>
            <ion-col class="colOne">{{OTPModelFour}}</ion-col>
        </ion-row>

        <button ion-button color="seekmiblue" block class="mtop" (click)="VerifyOTPClick()">Submit Code</button>
        <button ion-button [disabled]="isResendOTPButtonShow" color="seekmiblue" block class="mtop" (click)="ResendOTPClick()">Resend Code</button>
    </div>

    <!------------------------- Enter New password  ----------------------->
    <div *ngIf="isNewPasswordContaienrShow" class="otpContainer">
        <ion-label style="text-align: center;">Enter your New password</ion-label>
        <ion-item style="padding: 0;border: 1px solid lightgray;">
            <ion-input type="password" [(ngModel)]="nPasswordModal" placeholder="New password"></ion-input>
        </ion-item>

        <ion-item style="padding: 0;border: 1px solid lightgray;margin-top: 12px;">
            <ion-input type="password" [(ngModel)]="nCPasswordModal" placeholder="Confirm New Password "></ion-input>
        </ion-item>
        <button ion-button color="seekmiblue" block class="mtop" (click)="NewPasswordSubmitClick()">SUBMIT</button>
    </div>
         

    <!------------------------- Custom Keyboard  ----------------------->
    <div class="keyboardContainer" *ngIf="isOTPContaienrShow">
        <ion-row class="rowOne">
            <ion-col (click)="enterCustomeKeyboard('1')" class="colOne">1</ion-col>
            <ion-col (click)="enterCustomeKeyboard('2')" class="colOne">2</ion-col>
            <ion-col (click)="enterCustomeKeyboard('3')" class="colOne">3</ion-col>
        </ion-row>
        <ion-row class="rowOne">
            <ion-col (click)="enterCustomeKeyboard('4')" class="colOne">4</ion-col>
            <ion-col (click)="enterCustomeKeyboard('5')" class="colOne">5</ion-col>
            <ion-col (click)="enterCustomeKeyboard('6')" class="colOne">6</ion-col>
        </ion-row>
        <ion-row class="rowOne">
            <ion-col (click)="enterCustomeKeyboard('7')" class="colOne">7</ion-col>
            <ion-col (click)="enterCustomeKeyboard('8')" class="colOne">8</ion-col>
            <ion-col (click)="enterCustomeKeyboard('9')" class="colOne">9</ion-col>
        </ion-row>
        <ion-row class="rowOne">
            <ion-col (click)="enterCustomeKeyboard('clear')" class="colOne">Clear</ion-col>
            <ion-col (click)="enterCustomeKeyboard('0')" class="colOne">0</ion-col>
            <ion-col (click)="enterCustomeKeyboard('back')" class="colOne">Back</ion-col>
        </ion-row>
    </div>
</ion-content>