page-resetPassword {
  img {
    width: 50%;
    left: 50%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translateX(-50%);
  }
  .colOne {
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    padding: 0;
    margin: 0;
    padding-top: 12px;
    text-align: center;
  }
  .colTwo {
    padding: 0;
    margin-left: 0px;
    padding-left: 5px;
  }
  .lblOne {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .lblTwo {
    text-align: center;
    white-space: normal;
    font-size: 13px;
    padding: 0 16px;
  }

  .resendOTPBtn {
    font-weight: bold;
    color: #4e81cd;
  }

  .content {
    background-color: #edf2f8;
  }
  .otpContainer {
    background: white;
    padding: 16px;
    box-shadow: 0px 0px 20px 0px #cccccc;
    margin: 16px;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
  .item-input:last-child {
    border-bottom: 0 !important;
  }
  .otpInputContainer {
    text-align: center;
    height: 50px;
    margin: 0 26px;
    .colOne {
      height: 50px;
      width: 50px;
      border: 1px solid lightgray;
      margin: 0 8px;
    }
  }
  .keyboardContainer {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .rowOne {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 50px;
      .colOne {
        font-size: 18px;
        font-weight: bold;
        border: 1px solid lightgray;
      }
    }
  }
  .mtop {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 20px;
    box-shadow: none;
    background: #d7202b;
    font-family: "Helvetica Neue";
    font-weight: 500;
  }

  .otp-input[_ngcontent-c0] {
    height: 45px;
    width: 45px;
  }
  .lblThree {
    font-weight: bold;
    margin-top: 16px;
    font-size: 14px;
  }
}
