page-myLoad {
  .align-item-center {
    align-items: center;
    border-bottom: 1px solid #f3f5f8;
  }
  .reverseStatusButton {
    background: #d71e2b;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 8px 0px;
    margin: 0;
    margin-right: 8px;
  }
  .customHeader {
    padding: 16px;
    background: #fff;
    width: 100%;
    color: #000 !important;
    display: flex;
    text-align: center;
    align-items: center;

    .headericons {
      width: 25px;
      height: 25px;
    }
    .textWhite {
      div {
        color: #000 !important;
        font-size: 24px;
      }
    }
  }

  .myview {
    background: #f3f5f8;
    padding: 30px;
  }

  .current-loadthis {
    background: #fff;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    width: 100%;
    padding: 10px;

    .order-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;

      .order-icon {
        width: 20px;
        float: left;
      }
    }
  }

  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-column {
    flex-flow: column wrap;
  }

  /* main page css */

  .order-boxline {
    padding: 0 0 0 10px;
    width: calc(100% - 20px);
    float: left;

    .addressLine {
      margin: 0;
      font-size: 14px;
      color: #333;
      width: 100%;
      font-weight: 700;
      white-space: normal;
    }

    .timestaus {
      margin: 5px 0 0 0;
      color: #999;
      width: 100%;
      white-space: normal;
      font-size: 12px;
    }
  }

  .mainBoxTabs {
    margin: 10px 0;
    border: none;
  }

  .mainBoxTabs-Box {
    border: none;
    background: transparent;
  }

  .no-bg {
    background: transparent !important;
  }

  .border-none {
    border: none !important;
  }

  .border-none .item-inner {
    border: none;
  }

  .pagetabsMenu {
    font-size: 15px;
    color: #999999;
    position: relative;
  }

  .nuber-box {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #d7202b;
    font-size: 10px;
    font-weight: lighter;
    padding-top: 2px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }

  .pagetabsMenu.active {
    color: #000;
    font-size: 20px;
  }

  .pagetabsBar {
    width: 100%;
  }

  .LoadDetailCard-custom {
    margin: 0;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    margin-bottom: 16px;
  }

  .loadIDdetails {
    padding: 4px 10px 0px 10px;

    .loadID {
      margin: 0;
      font-size: 14px;
      color: #333;
      width: 100%;
      font-weight: 700;
      white-space: normal;
    }

    .loadauthor {
      margin: 5px 0 0 0;
      color: #999;
      width: auto;
      font-weight: 500;
      font-size: 12px;
      display: inline-block;
      border-radius: 4px;
    }
  }

  .loadComplete-btn {
    height: 36px;
    width: 36px;
    padding: 0 10px;
    margin-top: 0;
    background: #d7202b;
    margin-right: 5px;
    border-radius: 50%;
  }

  .loadRoutDeatils {
    padding: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 100%;
    padding-bottom: 30px;

    .formtoTO {
      list-style-type: nonu;
      padding: 0 10px;
      margin: 0;
      list-style: none;
      position: relative;
      -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
      align-self: self-start;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      &::after {
        // background: url("../assets/imgs/home/after-border.svg") repeat-y 0 0;
        // position: absolute;
        // content: "";
        // width: 2px;
        // height: 100%;
        // right: -10px;
        // top: -1px;
        // z-index: 1;

        position: absolute;
        content: "";
        width: 0px;
        height: calc(100% - 48px);
        right: -10px;
        top: 26px;
        z-index: 1;
        border: 1px solid lightgray;
      }

      li {
        list-style-type: nonu;
        padding: 3px 8px;
        text-align: center;
        list-style: none;
        font-size: 12px;
        background: #e8ebef;
        margin-bottom: 15px;
        position: relative;

        &:last-child {
          margin: 0;
        }
      }

      .inprogress:after {
        content: "";
        display: block;
        position: absolute;
        height: 8px;
        background-color: #fff;
        right: -27px;
        width: 8px;
        border-radius: 50%;
        top: 5px;
        border: 4px solid #d7202b;
        z-index: 99;
      }

      .notStart:after {
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        background-color: #d7202b;
        right: -27px;
        width: 16px;
        border-radius: 50%;
        top: 5px;
        z-index: 22;
      }

      .completed:after{
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        background-color: green;
        right: -27px;
        width: 16px;
        border-radius: 50%;
        top: 5px;
        z-index: 22;
      }

    }
  }

  .truckmainIcon {
    display: flex;
    padding-left: 20%;

    i {
      height: 50px;
      justify-content: center;
      align-items: center;
      width: 50px;
      display: flex;
      border-radius: 50%;
      text-align: center;
      background: #d7202b;
      padding: 10px;
    }
  }

  .clickonNavigat {
    width: calc(100% - 20px);
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    margin: 5px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d7202b;
    text-transform: uppercase;
    font-weight: 500;
  }

  .stopsButton {
    width: calc(100% - 10px);
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    margin: 5px 10px;
    margin-right: 5px;
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d7202b;
    text-transform: uppercase;
    font-weight: 500;

    i {
      width: 18px;
      padding-right: 5px;

      svg {
        width: 100%;
      }
    }
  }

  .loadDetailsButton {
    width: calc(100% - 15px);
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d7202b;
    text-transform: uppercase;
    font-weight: 500;

    i {
      width: 20px;
      padding-right: 5px;

      svg {
        width: 100%;
      }
    }
  }

  .cutomeButtons {
    border-top: 1px solid #f3f5f8;
    padding-top: 8px;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  .LoadDetailCard {
    margin-bottom: 20px;
  }

  /* main page css */

  .first-status {
    background: #d72069 !important;
    color: #fff !important;
    border: none !important;
    padding: 3px 8px;
  }

  .second-status {
    background: #ffc618 !important;
    color: #fff !important;
    border: none !important;
    padding: 3px 8px;
  }

  .thired-status {
    color: #fff !important;
    border: none !important;
    padding: 3px 8px;
  }

  .forth-status {
    background: #58a3eb !important;
    color: #fff !important;
    border: none !important;
    padding: 3px 8px;
  }

  .fifth-status {
    background: #28a745 !important;
    color: #fff !important;
    border: none !important;
    padding: 3px 8px;
  }

  .sixth-status {
    background: #b1d605 !important;
    color: #fff !important;
    border: none !important;
    padding: 3px 8px;
  }

  .notFoundLbl {
    text-align: center;
    font-size: 24px;
    margin-top: 50%;
    font-weight: bold;
    color: darkgray;
  }
}

/* My Route page end */
