<ion-header class="customHeader">
  <img class="headericons" src="assets/imgs/header-icon.png">
  <ion-title class="textWhite">My Load</ion-title>
</ion-header>

<ion-content class="myview" padding>


  <!-- Current Active Load -->
  <div *ngIf="notificationOrder.length > 0" class="current-loadthis">
    <div class="order-details">
      <div class="order-icon">
        <img class="pointericon" src="assets/imgs/home/location-on.svg">
      </div>
      <div class="order-boxline">
        <div class=" d-flex flex-column">
          <ion-label class="addressLine">{{notificationOrder[0].to}}</ion-label>
          <ion-label class="timestaus">{{notificationOrder[0].order_drop_date}}</ion-label>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab -->
  <div class="mainBoxTabs">

    <ion-row>
      <ion-col col-4 text-left [ngClass]="{'active' :  activeStatus == 1 || ''}">
        <button (click)="statusClick(1)" ion-button icon-start clear small class="pagetabsBar">
          <div [ngClass]="{'active' :  activeStatus == 1 || ''}" class="pagetabsMenu">Complete</div>
        </button>
      </ion-col>
      <ion-col col-4 text-center [ngClass]="{'active' :  activeStatus == 2 || ''}">
        <button (click)="statusClick(2)" ion-button icon-start clear small class="pagetabsBar">
          <div [ngClass]="{'active' :  activeStatus == 2 || ''}" class="pagetabsMenu">Active</div>
        </button>
      </ion-col>
      <ion-col col-4 text-right [ngClass]="{'active' :  activeStatus == 3 || ''}">
        <ion-label *ngIf="assignOrderCount != 0"
          style="margin: 0;position: absolute;right: 0px;background-color: #d71e2b;padding: 1px 5px;border-radius: 100%;z-index: 1;color: white;top: 3px;font-size: 12px;">
          {{assignOrderCount}}</ion-label>
        <button (click)="statusClick(3)" ion-button icon-start clear small class="pagetabsBar">
          <div [ngClass]="{'active' :  activeStatus == 3 || ''}" class="pagetabsMenu">Assigned</div>
        </button>
      </ion-col>
    </ion-row>

  </div>

  <!----------------------------------------------------------------- Active ----------------------------------------------------------------->
  <!----------------------------------------------------------------- Active ----------------------------------------------------------------->
  <!----------------------------------------------------------------- Active ----------------------------------------------------------------->

  <div *ngIf="activeStatus == 2 || activeStatus == 3" class="LoadDetailCard">
    <ion-row *ngFor="let item of orderListArry">
      <ion-card class="LoadDetailCard-custom">

        <!------------------------------------------- Header  ------------------------------------------->
        <ion-row class="align-item-center">
          <ion-col col-8 class="forademo">
            <div class="loadIDdetails">
              <ion-label class="loadID">Load : {{item.load_id}}</ion-label>
              <ion-label class="loadauthor thired-status {{constant.loadStatus(item.status_data.current_status.id)}}">
                {{item.status_data.current_status.text}}
              </ion-label>
            </div>
          </ion-col>
          <ion-col col-4 text-right>
            <ion-icon (click)="DetailsClick(item)" style="padding: 3px 16px;font-size: 30px;color: darkgray;"
              name="ios-arrow-forward-outline"></ion-icon>
            <!-- <ion-label (click)="DetailsClick(item)" class="reverseStatusButton">Details</ion-label> -->
          </ion-col>
        </ion-row>

        <!--------------------------------------- Dynamic Location  ----------------------------------------->
        <ion-row>

          <!-- Left -->
          <ion-col col-3>
            <div class="loadRoutDeatils">
              <ul class="formtoTO align-self-start">
                <div *ngFor="let subItem of item.location_data; let index = index">

                  <li *ngIf="subItem.progress_status == 'not start'" class="notStart">
                    <div *ngIf="index == 0">
                      From
                    </div>
                    <div *ngIf="index != 0">
                      To
                    </div>
                  </li>

                  <li *ngIf="subItem.progress_status == 'in progress'" class="inprogress">
                    <div *ngIf="index == 0">
                      From
                    </div>
                    <div *ngIf="index != 0">
                      To
                    </div>
                  </li>

                  <li *ngIf="subItem.progress_status == 'complete'" class="completed">
                    <div *ngIf="index == 0">
                      From
                    </div>
                    <div *ngIf="index != 0">
                      To
                    </div>
                  </li>

                  

                </div>

              </ul>
            </div>
          </ion-col>

          <!-- Right -->
          <ion-col col-9>
            <ion-row>

              <!-- For Loop apply  -->
              <div *ngFor="let subItem of item.location_data; let index=index">
                <ion-col col-12 text-center *ngIf="index != 0">
                  <div class="truckmainIcon formtoTO align-self-start">
                    <i>
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" viewBox="0 0 50 40">
                        <path id="Icon_awesome-truck" data-name="Icon awesome-truck"
                          d="M48.75,27.5H47.5V19.055a3.75,3.75,0,0,0-1.1-2.648l-7.8-7.8a3.75,3.75,0,0,0-2.648-1.1H32.5V3.75A3.751,3.751,0,0,0,28.75,0h-25A3.751,3.751,0,0,0,0,3.75v25A3.751,3.751,0,0,0,3.75,32.5H5a7.5,7.5,0,0,0,15,0H30a7.5,7.5,0,0,0,15,0h3.75A1.254,1.254,0,0,0,50,31.25v-2.5A1.254,1.254,0,0,0,48.75,27.5ZM12.5,36.25a3.75,3.75,0,1,1,3.75-3.75A3.751,3.751,0,0,1,12.5,36.25Zm25,0a3.75,3.75,0,1,1,3.75-3.75A3.751,3.751,0,0,1,37.5,36.25ZM43.75,20H32.5V11.25h3.445l7.8,7.8Z"
                          fill="#fff" />
                      </svg>
                    </i>
                  </div>
                </ion-col>
                <div class="loadIDdetails">
                  <ion-label class="loadID">{{subItem.full_address}}</ion-label>
                  <ion-label class="loadauthor">{{subItem.date}}</ion-label>
                  <br>
                  <ion-label *ngIf="subItem.record_type == 'pick_up_point'"
                    class="loadauthor thired-status {{constant.loadStatus(item.status_id)}}">Pick-up Point</ion-label>
                  <ion-label *ngIf="subItem.record_type != 'pick_up_point'"
                    class="loadauthor thired-status {{constant.loadStatus(item.status_id)}}">Drop Point</ion-label>
                </div>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>

        <!----------------------------------------- Footer Button ------------------------------------------->
        <ion-row class="cutomeButtons">
          <ion-col col-6>
            <button ion-button class="stopsButton" (click)="updateStatusClick(item, 'next')">
              {{item.status_data.next_status.text}}</button>
          </ion-col>
          <ion-col col-6 *ngIf="item.status_data.prev_status">
            <button *ngIf="item.status_data.current_status.id == 1" (click)="updateStatusClick(item, 'previous')"
              ion-button class="loadDetailsButton">{{item.status_data.prev_status.text}}</button>
            <button *ngIf="item.status_data.current_status.id != 1" (click)="updateStatusClick(item, 'previous')"
              ion-button class="loadDetailsButton">Reverse Status</button>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-row>

    <ion-label class="notFoundLbl" *ngIf="orderListArry.length == 0">You Have No Active Loads</ion-label>
  </div>

  <!-- Complete -->
  <div *ngIf="activeStatus == 1">
    <div *ngFor="let item of orderListArry">
      <div class="LoadDetailCard">
        <ion-card class="LoadDetailCard-custom">
          <ion-row class="align-item-center">
            <ion-col col-12 class="forademo">
              <div class="loadIDdetails">
                <ion-label class="loadID">Load {{item.load_id}} is Delivered</ion-label>
                <ion-label class="loadauthor">Delivered at {{item.order_drop_date}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="cutomeButtons">
            <ion-col col-6>
              <button (click)="DetailsClick(item)" ion-button class="loadDetailsButton"> Detail</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <ion-label class="notFoundLbl" *ngIf="orderListArry.length == 0">Data Not Found</ion-label>
  </div>

  <!-- Assign -->

  <ion-infinite-scroll style="position: absolute;" *ngIf="infiniteScrollEnable"
    (ionInfinite)="InfinitScrollingAPI($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>