<ion-content class="myview">
  <ion-row text-center>
      <div class="profileBannerDIV d-flex">
        <img class="UserProfileimage" src="{{userData.image}}">
      </div>
    </ion-row>
  
    <ion-row>
      <ion-col col-12>
        <div class="ProfileBox">
          <ion-label class="profileLabel">
            <h2 class="profileHading">Profile</h2>
          </ion-label>
          <div class="profileCard">
            <ion-row>
              <ion-col col-12 class="labelBox">
                <ion-label class="labelHading">First Name : </ion-label>
                <ion-label class="labelDetails">{{userData.firstname}}</ion-label>
              </ion-col>
              <ion-col col-12 class="labelBox">
                <ion-label class="labelHading">Last Name : </ion-label>
                <ion-label class="labelDetails">{{userData.lastname}}</ion-label>
              </ion-col>
              <ion-col col-12 class="labelBox">
                <ion-label class="labelHading">Mobile Number : </ion-label>
                <ion-label class="labelDetails">{{userData.phone}}</ion-label>
              </ion-col>
              <ion-col col-12 class="labelBox">
                <ion-label class="labelHading">Email : </ion-label>
                <div class="fuildEdit">
                  <ion-label class="labelDetails">{{userData.email}}</ion-label>
                  
                </div>
              </ion-col>
            </ion-row>
          </div>
          <button (click)="LogoutClick()" ion-button class="profileLogOut">LOG OUT</button>
  
        </div>
      </ion-col>
    </ion-row>

    <ion-label *ngIf="appVersion" class="appversionLblTwo"> App Version {{appVersion}}</ion-label>

</ion-content>