page-profile {
  .profileBannerDIV {
    background: linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    background-position: center;
    background-size: unset;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    width: 100%;
    padding: 30px 15px;
    display: block;

    .UserProfileimage {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }
  .myview {
    background: #F3F5F8;
    padding: 30px;
  }


  .ProfileBox {
    padding: 0 10px;
    width: 100%;
    position: relative;

    .profileHading {
      font-size: 2.5rem;
      color: #333;
    }

    .profileLabel {
      margin: 0;
    }

    .profileCard {
      background: #fff;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
      margin: 5px 0 30px 0;
    }

    .labelHading {
      margin: 0;
      color: #999;
      font-size: 13px;
      white-space: pre-line;
      padding-right: 15px;
    }

    .labelDetails {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      @extend .labelHading;
    }
  }

  .labelBox {
    padding-bottom: 10px;
  }

  .editMailbtn {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: -5px;
    float: right;

    svg {
      width: 100%;
    }
  }

  .profileLogOut {
    width: calc(100%);
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d7202b;
    text-transform: uppercase;
    font-weight: 500;
  }

  .fuildEdit {
    display: flex;
    width: 100%;
    flex-flow: row;

    span {
      width: 20px;
    }
  }

  .appversionLblTwo {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: bold;
    color: darkgray;
    font-size: 12px;
    margin: 16px 0;
  }
}

/* profile page css */
