page-notification {
  .content {
    background-color: #f3f5f8;
  }
  .mainContainer {
    box-shadow: 0px 3px 15px 2px #cecece;
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-top: 16px;
    border-radius: 4px;
    background: white;
    padding: 8px;
    position: relative;
    .statusLbl {
      margin: 0;
      font-weight: normal;
      color: white;
      font-size: 12px;
      border-radius: 3px;
      display: inline-block;
      height: 100%;
      padding: 6px 8px;
    }
    .dateLbl {
      margin: 0;
      font-size: 12px;
      text-align: right;
      color: #999999;
      margin-top: 12px;
    }
    .idLbl {
      margin: 0;
      font-size: 14px;
      white-space: normal;
      color: #4a4a4a;
    }
  }
}
