<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Notification</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="margin-bottom: 16px;">
    <div class="mainContainer" (click)="notificationClick(item)" *ngFor="let item of notificationArry; let index = index">

      <ion-label style="margin: 0;font-size: 16px;font-weight: bold;white-space: normal;padding-bottom: 6px;">
        <span class="statusLbl  {{constant.loadStatus(item.status_id)}}">{{item.status_name}}</span>
        {{item.load_id}} 
      </ion-label>

      <ion-label class="idLbl">{{item.description}}</ion-label>
      <ion-label class="dateLbl">{{item.date}}</ion-label>
   
    </div>

  </div>
  
  <ion-infinite-scroll style="position: absolute;" *ngIf="infiniteScrollEnable"
    (ionInfinite)="InfinitScrollingAPI($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>