<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="myview">

  <div class="divMainLoginContiner">

    <div class="selectRoleContainer">
      <!-- <ion-label class="lbl lbl-custome">Register as</ion-label> -->
      <ion-row class="selectRow">
        <ion-col class="colOne" [ngClass]="{'active': selectRoleModel == 2}" (click)="selectRoleClick(2)">Driver
        </ion-col>
        <ion-col class="colTwo" [ngClass]="{'active': selectRoleModel == 3}" (click)="selectRoleClick(3)">Shipper
        </ion-col>
      </ion-row>
    </div>

    <div class="inputContainer">
      <ion-input class="phoneInput" type="text" placeholder="First Name" [(ngModel)]="loginForm.firstName"></ion-input>
      <ion-input class="phoneInput" type="text" placeholder="Last Name" [(ngModel)]="loginForm.lastName"></ion-input>
      <ion-input class="phoneInput" type="text" placeholder="Email" [(ngModel)]="loginForm.email"></ion-input>
      <ion-input class="phoneInput" type="number" placeholder="Contact No" [(ngModel)]="loginForm.contactNo"></ion-input>
      <ion-input class="phoneInput" type="text" placeholder="Address" [(ngModel)]="loginForm.address"></ion-input>
      <ion-input class="phoneInput" type="text" placeholder="Address Details" [(ngModel)]="loginForm.addressDetail"></ion-input>
      <ion-input class="phoneInput" type="password" placeholder="Password" [(ngModel)]="loginForm.password"></ion-input>
      <ion-input class="phoneInput" type="password" placeholder="Confirm Password" [(ngModel)]="loginForm.cPassword"></ion-input>
    </div>

    <button ion-button class="btnSignin" (click)="SignInClick()">Submit</button>
    
  </div>


</ion-content>