page-register {
  .divMainLoginContiner {
    width: 90%;
    margin-left: 5%;
    text-align: center;

    .selectRoleContainer {
      margin-top: 20px;
      .lbl {
        margin: 0;
        margin-bottom: 8px;
        text-align: left;
      }
      .selectRow {
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 30px;
        .active {
          background-color: #d71f2b;
          color: white;
          border-radius: 30px;
        }
        .colOne {
          padding: 10px 5px;
        }
        .colTwo {
          padding: 10px 5px;
        }
      }
    }

   

    .inputContainer {
      margin-top: 20px;
      .phoneInput {
        border: 1px solid lightgray;
        margin-bottom: 16px;
      }
    }

    
  }

  .btnSignin {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    height: 50px;
    background-color: transparent;
    box-shadow: none;
    background: #d7202b;
    font-family: "Helvetica Neue";
    font-weight: 500;
    margin-bottom: 16px;

    span {
      text-transform: uppercase;
    }
  }

  
}
