<ion-content class="progressbarCSS">

    <div *ngIf="isPopupShown" class="chooseimageType">
        <ion-row>
            <ion-col style="font-size: 20px;font-weight: bold;">Add Photo</ion-col>
            <ion-col style="text-align: right;font-size: 24px;color: darkgray;" (click)="CloseClick()">
                <ion-icon name="md-close"></ion-icon>
            </ion-col> 
        </ion-row>

        <ion-row style="margin-top: 12px;">
            <ion-col (click)="CameraClick()" style="margin-right: 12px;height: 150px;border: 1px solid lightgray;border-radius: 8px;text-align: center;padding-top: 45px;">
                <ion-icon style="font-size: 35px;" name="md-camera"></ion-icon>
                <ion-label style="margin: 0;margin-top: 8px;">Use Camera</ion-label>
            </ion-col>
            <ion-col (click)="GalleryClick()" style="height: 150px;border: 1px solid lightgray;border-radius: 8px;text-align: center;padding-top: 45px;">
                <ion-icon style="font-size: 35px;" name="md-image"></ion-icon>
                <ion-label style="margin: 0;margin-top: 8px;">From Gallery</ion-label>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
 