page-tabs {
  .tabbar {
    background-color: #fff !important;
  }

  .tabs-md .tab-button[aria-selected="true"] {
    color: #d71f2b;
  }

  .tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
    color: #d71f2b;
  }
}
