<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabIcon="ios-search-outline" tabTitle="Search"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="ios-home-outline" tabTitle="Home"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ios-notifications-outline" tabTitle="Notification"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="ios-person-outline" tabTitle="Profile"></ion-tab>
</ion-tabs>
