<ion-content class="myview">

  <div class="imageContainer">
    <img class="logoImage" src="assets/imgs/logo.png">
  </div>

  <div class="divMainLoginContiner">

    <div class="inputContainer">
      <div class="input-group">
        <ion-label class="custominput-label">Email/Phone</ion-label>
        <div class="input-box">
          <span class="input-icon">
            <svg id="Vector_Smart_Object" data-name="Vector Smart Object" xmlns="http://www.w3.org/2000/svg" width="40"
              height="40" viewBox="0 0 40 40">
              <g id="Group_14" data-name="Group 14">
                <path id="Path_79" data-name="Path 79"
                  d="M14,24h0c.318.179.665.85,1,1h0c.312.135.676-.109,1,0,.061.021-.061-.02,0,0,.3.1.686.927,1,1,.085.02.915-.018,1,0,.307.064-.315-.04,0,0,.1.012.9-.01,1,0a7.76,7.76,0,0,0,1,0,7.76,7.76,0,0,0,1,0c.1-.01.9.012,1,0,.315-.04-.307.064,0,0,.085-.018.915.02,1,0,.314-.073.7-.9,1-1,.061-.02-.061.021,0,0,.324-.109.688.135,1,0h0c.334-.15.683-.822,1-1h0a11.217,11.217,0,0,0,6-10V12A12,12,0,0,0,8,12v2A11.217,11.217,0,0,0,14,24Z"
                  fill="#999" />
                <path id="Path_80" data-name="Path 80"
                  d="M32,23a15.65,15.65,0,0,1-12,6A15.65,15.65,0,0,1,8,23,14.176,14.176,0,0,0,0,36v4H40V36A14.176,14.176,0,0,0,32,23Z"
                  fill="#999" />
              </g>
            </svg>
          </span>
          <ion-input class="phoneInput" type="email" placeholder="Email/Phone" [(ngModel)]="emailModal"></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Password</ion-label>
        <div class="input-box">
          <span class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 486.733 486.733" style="enable-background:new 0 0 486.733 486.733;" xml:space="preserve" class=""><g><g>
              <path d="M403.88,196.563h-9.484v-44.388c0-82.099-65.151-150.681-146.582-152.145c-2.225-0.04-6.671-0.04-8.895,0   C157.486,1.494,92.336,70.076,92.336,152.175v44.388h-9.485c-14.616,0-26.538,15.082-26.538,33.709v222.632   c0,18.606,11.922,33.829,26.539,33.829h321.028c14.616,0,26.539-15.223,26.539-33.829V230.272   C430.419,211.646,418.497,196.563,403.88,196.563z M273.442,341.362v67.271c0,7.703-6.449,14.222-14.158,14.222H227.45   c-7.71,0-14.159-6.519-14.159-14.222v-67.271c-7.477-7.36-11.83-17.537-11.83-28.795c0-21.334,16.491-39.666,37.459-40.513   c2.222-0.09,6.673-0.09,8.895,0c20.968,0.847,37.459,19.179,37.459,40.513C285.272,323.825,280.919,334.002,273.442,341.362z    M331.886,196.563h-84.072h-8.895h-84.072v-44.388c0-48.905,39.744-89.342,88.519-89.342c48.775,0,88.521,40.437,88.521,89.342   V196.563z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#999999"/>
            </g></g> </svg>
          </span>
          <ion-input class="phoneInput" type="password" placeholder="Password" [(ngModel)]="passwordModal"></ion-input>
        </div>
      </div>
    </div>

    <button ion-button class="btnSignin" (click)="SignInClick()">Login</button>
    <ion-row>
      <ion-col style="padding: 0;padding-right: 4px;">
        <button ion-button class="resetPassword" (click)="RegisterClick()">Register</button>
      </ion-col>
      <ion-col style="padding: 0;padding-left: 4px;">
        <button ion-button class="resetPassword" (click)="resetPassword()">Reset Password</button>    
      </ion-col>
    </ion-row>


    <div class="forgotPasswordCont">
      By clicking login button, you are agree to the
      <ion-label (click)="TermAndCondtionClick()" ion-button class="forgotPasswordBtn">
        Terms & Conditions</ion-label>
    </div>
    
    
  </div>


</ion-content>