page-login {
  .imageContainer {
    text-align: center;
    padding-top: 15%;
    .logoImage {
      height: 100px;
    }
  }

  .lbl-custome {
    font-size: 16px;
  }
  .divMainLoginContiner {
    width: 90%;
    margin-left: 5%;
    text-align: center;

    .selectRoleContainer {
      .lbl {
        margin: 0;
        margin-bottom: 8px;
        text-align: left;
      }
      .selectRow {
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 30px;
        .active {
          background-color: #d71f2b;
          color: white;
          border-radius: 30px;
        }
        .colOne {
          padding: 10px 5px;
        }
        .colTwo {
          padding: 10px 5px;
        }
      }
    }

    .logo {
      margin-top: 20%;
    }

    .logoLbl {
      font-size: 32px;
      letter-spacing: -1px;
      color: #333;
      font-family: "Helvetica Neue";
      font-weight: 300;
      text-align: center;
      margin: 0;
      margin-top: 0px;
    }

    .logoDesc {
      font-size: 13px;
      letter-spacing: 0px;
      line-height: 20px;
      color: #333;
      font-family: "Helvetica Neue";
      text-align: center;
      white-space: normal;
      margin: 0;
      margin-top: 12px;
    }

    .inputContainer {
      position: relative;
      margin-top: 30px;

      .input-box {
        border: 1px solid #ccc;
        padding: 0;
        margin-top: 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        min-height: 45px;

        .input-icon {
          background: #E4E6E6;
          width: 15%;
          padding: 10px 5px !important;

          svg {
            height: 20px;
            width: 20px;
            fill: #fff;
          }
        }

        .phoneInput {
          display: flex;
          flex-flow: row wrap;

          .text-input {
            padding: 10px;
            color: #333;
            width: 100%;
            margin: 0;
          }
        }
      }

      .input-group {
        margin-top: 16px;
        .input-box {
          margin: 0;
        }
      }

      .custominput-label {
        font-size: 16px;
        text-align: left;
        color: #333;
        margin: 0;
        padding-bottom: 6px;
      }

      .eyeIcon {
        position: absolute;
        right: 0px;
        bottom: 7px;
        color: white;
        font-size: 24px;
      }
    }

    .forgotPasswordCont {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      margin-top: 20px;
      color: #999;
      line-height: 1.7;

      .forgotPasswordBtn {
        box-shadow: none;
        color: #ffffff;
        padding-top: 16px;
        font-size: 13px;
        background: transparent;
        text-align: right;
        padding: 0;
        text-transform: uppercase;
        margin: 0;
        text-transform: none;
        font-family: "Helvetica Neue";

        .button-inner {
          color: #d7202b;
        }
      }
    }
  }

  .btnSignin {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 20px;
    box-shadow: none;
    background: #d7202b;
    font-family: "Helvetica Neue";
    font-weight: 500;

    span {
      text-transform: uppercase;
    }
  }

  .resetPassword{
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d7202b;
    font-family: "Helvetica Neue";
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .arrowImage {
    overflow: hidden;
    width: 70px;
    height: 55px;
  }

  .animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .three {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      left: 0;
      -webkit-transform: translate3d(-350%, 0, 0);
      transform: translate3d(-350%, 0, 0);
    }

    to {
      left: 35%;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInLeft {
    from {
      -webkit-transform: translate3d(-350%, 0, 0);
      transform: translate3d(-350%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
}
