<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Term and Conditions</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="myview">

  <ion-label style="margin: 0;
  white-space: normal;
  padding: 16px;
  line-height: 1.4;
  font-size: 16px;
  color: #424242;">{{messageModel}}</ion-label>


</ion-content>