
<ion-content padding>

    <div class="content-holder">
      <div class="content-inner">
        <img width="90" height="90" src="assets/imgs/netDisconnect.svg" />  
        <h4>Whoops!</h4>
        <p>{{ 'NO_INTERNET.NO_INTERNET_ERROR_TWO' | translate }}</p>
        <button (click)="TryAgainClick()" class="tryAgainBtn" ion-button color="primaryThird">{{ 'NO_INTERNET.TRY_AGAIN_BTN' | translate }} </button>
      </div>
    </div>

</ion-content>
