.ios,
.md {
  page-no-internet-connection {
    ion-content {
      .content-holder {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        .content-inner {
          h4 {
            font-size: 1.8rem;
            color: #091a34;
          }
          p {
            font-size: 1.4rem;
            color: #7b7b7b;
          }
          .tryAgainBtn {
            box-shadow: none;
            height: 40px;
            font-size: 12px;
            font-weight: bold;
            background-color: #29b6f6;
            width: 140px;
          }
        }
      }
    }
  }
}
