<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Track Load</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <div #map class="mapContainer" id="mapContainers"></div>

  <!-- <img src="assets/imgs/map.png"> -->

  <ion-row>
    <div class="laodStops-page">
      <div class="loadStops-list">
        <div class="listofStops">
          <div class="divOnly-10">
            <div class="loadRoutDeatils">
              <ul class="formtoTO align-self-start">
                <li class="form-point" *ngFor="let item of statusLogDetails; let index=index">
                  {{index+1}}
                </li>
                
              </ul>
            </div>
          </div>
          <div class="divOnly-90">


            <div class="listofStopsCard" *ngFor="let item of statusLogDetails">
              <div>
                <ion-label class="labelstapDetail">{{item.status_text}} </ion-label>
                <ion-label class="stopReachstatus">{{item.date}}</ion-label>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </ion-row>
</ion-content>