page-trackLoad {
  .content {
    background-color: #f3f5f8;
  }

  .mapContainer {
    height: calc(100% - 224px);
  }

  .laodStops-page {
    width: 100%;
    display: block;
    padding: 16px;

    .loadStops-list {
      position: relative;

      .loadRoutDeatils {
        padding: 10px 0;
        padding-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        height: 100%;
        padding-bottom: 30px;

        .formtoTO {
          list-style-type: nonu;
          padding: 0 10px;
          margin: 0;
          list-style: none;
          position: relative;
          -webkit-align-self: self-start;
          -ms-flex-item-align: self-start;
          align-self: self-start;
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          justify-content: space-between;

          &::after {
            background: url("../assets/imgs/after-border.svg") repeat-y 0 0;
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            right: -10px;
            top: -1px;
            z-index: 1;
          }

          li {
            list-style-type: nonu;
            padding: 0px 8px;
            text-align: center;
            list-style: none;
            font-size: 12px;
            background: #999999;
            margin-bottom: 15px;
            position: relative;

            &:last-child {
              margin: 0;
            }
          }

          .form-point:after {
            content: "";
            display: block;
            position: absolute;
            height: 8px;
            background-color: #fff;
            right: -27px;
            width: 8px;
            border-radius: 50%;
            top: 5px;
            border: 4px solid #d7202b;
            z-index: 99;
          }

          .to-point:after {
            content: "";
            display: block;
            position: absolute;
            height: 16px;
            background-color: #d7202b;
            right: -27px;
            width: 16px;
            border-radius: 50%;
            top: 5px;
          }
        }
        .formtoTO {
          margin: 2vh 0;
          overflow: hidden;
          padding-left: 0;

          &:after {
            right: 18px;
          }

          .form-point {
            padding: 0;
            height: 20px;
            width: 20px;
            background: #d7202b;
            border-radius: 50%;
            z-index: 999;
            color: #fff;
            padding-top: 2px;

            &:after {
              display: none;
            }
          }

          .to-point {
            padding: 0;

            &:after {
              right: 0;
              left: -6px;
              top: -17px;
            }
          }
        }
      }

      .listofStops {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: row wrap;
        -webkit-box-align: self-end;
        -webkit-align-items: self-end;
        -ms-flex-align: self-end;
        align-items: center;
        align-items: normal;

        .listofStopsCard {
          width: 100%;
          background: #d71f2b;
          border-radius: 4px;
          padding: 10px;
          -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
          margin-bottom: 20px;
          position: relative;

          .labelstapDetail {
            margin: 0;
            font-size: 15px;
            color: #fff;
            width: 100%;
            font-weight: 700;
            white-space: normal;
          }

          .stopReachstatus {
            margin: 6px 0 0 0;
            color: #fff;
            width: 100%;
            white-space: normal;
            font-size: 12px;
          }

          .stopGetButton {
            display: flex;
            flex-flow: row wrap;

            > div {
              padding: 15px 15px 0 0;
              min-width: 50%;
            }

            .labelstapDetail {
              margin: 0;
              text-transform: uppercase;
              font-weight: 500;
            }

            .clickonNavigat {
              margin: 0;
            }

            .gettheLocationsBtn {
              border: 1px solid#D7202B;
              background: #fff;
              color: #333;
              padding: 5px !important;
              color: #d7202b;
              font-size: 12px;
              border-radius: 4px;
              align-self: auto;
              text-transform: uppercase;
              text-align: center;
              margin: 0;
              width: 100%;
              box-shadow: none;

              &[disabled] {
                background: #e5e7e8;
                border-color: #e5e7e8;
                color: #9e9e9e;
                opacity: 1;
              }
            }
          }
        }
      }

      .divOnly-10 {
        width: 10%;
      }

      .divOnly-90 {
        width: 90%;
      }
    }
  }

  .first-status {
    background: #d72069 !important;
    color: #fff !important;
    border: none !important;
  }

  .second-status {
    background: #ffc618 !important;
    color: #fff !important;
    border: none !important;
  }

  .thired-status {
    background: #0058aa !important;
    color: #fff !important;
    border: none !important;
  }

  .forth-status {
    background: #58a3eb !important;
    color: #fff !important;
    border: none !important;
  }

  .fifth-status {
    background: #28a745 !important;
    color: #fff !important;
    border: none !important;
  }

  .sixth-status {
    background: #b1d605 !important;
    color: #fff !important;
    border: none !important;
  }
}


.gmnoprint{
  display: none;
}