<ion-header>
    <ion-navbar>
      <ion-toolbar>
        <ion-title>Reset Password</ion-title>
      </ion-toolbar>
    </ion-navbar>
  </ion-header>

<ion-content>

    <div class="otpContainer">
        <ion-item style="margin-bottom: 12px;padding: 0;border: 1px solid lightgray;padding-left: 8px;">
            <ion-input type="password" [(ngModel)]="OldPasswordModal" placeholder="Old password"></ion-input>
        </ion-item>

        <ion-item style="padding: 0;border: 1px solid lightgray;padding-left: 8px;">
            <ion-input type="password" [(ngModel)]="nPasswordModal" placeholder="New password"></ion-input>
        </ion-item>

        <ion-item style="padding: 0;border: 1px solid lightgray;margin-top: 12px;padding-left: 8px;">
            <ion-input type="password" [(ngModel)]="nCPasswordModal" placeholder="Confirm New Password "></ion-input>
        </ion-item>
        <button ion-button color="seekmiblue" block class="mtop" (click)="NewPasswordSubmitClick()">SUBMIT</button>
    </div>



</ion-content>