page-changePassword {
  
  .toolbar-ios ion-title {
    padding: 0 0px 1px;
    text-align: left;
    .toolbar-title-ios {
      text-align: left;
      padding-left: 12px;
    }
  }

  .otpContainer {
    background: white;
    padding: 16px;
    box-shadow: 0px 0px 20px 0px #cccccc;
    margin: 16px;
  }
  .item-inner {
    border-bottom: 0 !important;
  }
  .item-input:last-child {
    border-bottom: 0 !important;
  }
  .otpInputContainer {
    text-align: center;
    height: 50px;
    margin: 0 26px;
    .colOne {
      height: 50px;
      width: 50px;
      border: 1px solid lightgray;
      margin: 0 8px;
    }
  }
  .mtop {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 20px;
    box-shadow: none;
    background: #d7202b;
    font-family: "Helvetica Neue";
    font-weight: 500;
  }

  .otp-input[_ngcontent-c0] {
    height: 45px;
    width: 45px;
  }
  .lblThree {
    font-weight: bold;
    margin-top: 16px;
    font-size: 14px;
  }
}
