.imageViewerCSS {
  .closeBtnContainer {
    position: fixed;
    right: 16px;
    top: 16px;
    border-radius: 100%;
    z-index: 10;
    font-size: 30px;
    color: white;
  }
  .closeModelBTN {
    font-size: 30px;
    color: black;
    margin-left: -5px;
    margin-top: -4px;
  }
  .imageViewerIMG {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: calc(19% - 5px);
  }
  .swiper-pagination-bullet {
    background: #d2d2d2;
  }
}

.BackgroundModel {
  background-color: rgba(0, 0, 0, 0.6);
}

image-viewer {
  .header {
    box-shadow: none;
  }
}
