<ion-content class="BackgroundModel imageViewerCSS">

    <ion-icon (click)="CloseModelAction()" class="closeBtnContainer" name="md-close-circle"></ion-icon>
    
    <ion-slides class="slideMain" zoom>
        <ion-slide>
            <div class="swiper-zoom-container">
                <img src="{{imageURL}}">
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>