<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="myview">
  <ion-row text-center>
    <div class="profileBannerDIV d-flex">
      <ion-icon (click)="uploadProfilePIC()" style="position: absolute;
        top: 12px;
        font-size: 24px;
        color: white;
        right: 12px;" name="create"></ion-icon>

      <ion-icon style="font-size: 100px;color: white;" *ngIf="!profileDataModel.profilePic" name="md-contact"></ion-icon>
      <img *ngIf="profileDataModel.profilePic" class="UserProfileimage" src="{{profileDataModel.profilePic}}">
    </div>
  </ion-row>

  <ion-row>
    <ion-col col-12>
      <div class="ProfileBox">
        <ion-label class="profileLabel">
          <h2 class="profileHading">Profile</h2>
        </ion-label>
        <div class="profileCard">
          <ion-row>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">First Name 
                <span class="artriskRed">*</span>
              </ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="First Name"
                [(ngModel)]="profileDataModel.firstName"></ion-input>
            </ion-col>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Last Name 
                <span class="artriskRed">*</span>
              </ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="Last Name"
                [(ngModel)]="profileDataModel.lastName"></ion-input>
            </ion-col>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Mobile Number 
                <span class="artriskRed">*</span>
              </ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="Mobile Number"
                [(ngModel)]="profileDataModel.mobileNumber"></ion-input>
            </ion-col>

            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Extra Number</ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="Extra Number"
                [(ngModel)]="profileDataModel.extraNumber"></ion-input>
            </ion-col>

            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Email
                <span class="artriskRed">*</span>
              </ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="Email"
                [(ngModel)]="profileDataModel.email"></ion-input>
            </ion-col>

            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Address</ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="Address"
                [(ngModel)]="profileDataModel.address"></ion-input>
            </ion-col>

            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Address Details</ion-label>
              <ion-input style="margin-top: 8px;border: 1px solid lightgray;" type="text" placeholder="Address Details"
                [(ngModel)]="profileDataModel.address_details"></ion-input>
            </ion-col>
          </ion-row>
        </div>
        <button (click)="saveClick()" ion-button class="profileLogOut">SAVE</button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>