page-placeCategory {
  .align-item-center {
    align-items: center;
  }
  .customHeader {
    padding: 16px;
    background: #fff;
    width: 100%;
    color: #000 !important;
    display: flex;
    text-align: center;
    align-items: center;

    .headericons {
      width: 25px;
      height: 25px;
    }
    .textWhite {
      div {
        color: #000 !important;
        font-size: 22px;
      }
    }
  }

  .titleLbl {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 16px; 
  }
}
