<ion-header class="customHeader">
  <img class="headericons" src="assets/imgs/header-icon.png">
  <ion-title class="textWhite">All Category</ion-title>
</ion-header>


<ion-content>
  
  <ion-label (click)="SelectCategory('Truck Wash')" class="titleLbl">Truck Wash</ion-label>
  <ion-label (click)="SelectCategory('Walmarts')" class="titleLbl">Walmarts</ion-label>
  <ion-label (click)="SelectCategory('Truck Stops')" class="titleLbl">Truck Stops</ion-label>
  <ion-label (click)="SelectCategory('Rest Area')" class="titleLbl">Rest Area</ion-label>
  <ion-label (click)="SelectCategory('Gas Pump')" class="titleLbl">Gas Station</ion-label>
  <ion-label (click)="SelectCategory('Garage/Service Station')" class="titleLbl">Garage/Service Station</ion-label>
  <ion-label (click)="SelectCategory('Weight Station')" class="titleLbl">Weight Station</ion-label>
  <ion-label (click)="SelectCategory('Hospitals')" class="titleLbl">Hospitals</ion-label>
  <ion-label (click)="SelectCategory('Parking Slots')" class="titleLbl">Parking Slots</ion-label>
</ion-content>