<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>

      <ion-title *ngIf="!paramData">Add New Load</ion-title>
      <ion-title *ngIf="paramData">Edit Load</ion-title>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--------------------------- Header Indicator ----------------------------->

  <div class="step-nav-section">
    <ul>
      <li id="first" class="">1</li>
      <li id="second" class="">2</li>
      <li id="third" class="current">3</li>
    </ul>
  </div>


  <!-------------------------- Third Part -------------------------->
  <div style="background: white;
  width: calc(100% - 32px);
  margin-left: 16px;">
    <ion-item *ngIf="currentFormAccess == 3" class="pageCustomHedaing">
      <ion-label>
        <h2>
          <svg data-name="Vector Smart Object" height="16" id="Vector_Smart_Object" viewBox="0 0 16 16" width="16"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11,9a5.888,5.888,0,0,0,2-4A5,5,0,0,0,3,5,5.888,5.888,0,0,0,5,9c-2.765,1.261-5,3.768-5,7H2a6,6,0,0,1,12,0h2C16,12.768,13.765,10.261,11,9ZM5,5A3,3,0,1,1,8,8,3,3,0,0,1,5,5Z"
              data-name="Path 59" fill="#d7202b" id="Path_59"></path>
          </svg> Tracking Information </h2>
      </ion-label>
    </ion-item>

    <div class="divMainLoginContiner">

      <div class="inputContainer">

        <div class="input-group">
          <ion-label class="custominput-label">Drive Name </ion-label>
          <div class="input-box" (click)="driverSearch('driver')">
            <ion-label style="text-align: left;padding-left: 12px;">{{thirdData.driverName}}</ion-label>
          </div>
        </div>
        <div class="input-group">
          <ion-label class="custominput-label">Truck Number</ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="thirdData.truckNumber" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>
        <div class="input-group">
          <ion-label class="custominput-label">Trailer Number </ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="thirdData.trailerNumber" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>
        <div class="input-group">
          <ion-label class="custominput-label">Enter Device ID</ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="thirdData.deviceID" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>


      </div>

      <ion-row class="pageSubmitRow">
        <ion-col class="ActionButton cancelButton" (click)="backClick()">

          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
            <g>
              <g>
                <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
                 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
                 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
                 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z" fill="#d71f2b" />
              </g>
            </g>
          </svg>
          Back</ion-col>
        <ion-col class="ActionButton doneButton" (click)="saveClick()">
          Save </ion-col>
      </ion-row>
    </div>
  </div>


</ion-content>