page-loadDetail {
  .align-item-center {
    align-items: center;
  }

  .toolbar-title-ios {
    text-align: left;
  }

  .mapMainContainer{
    width: 100%;
    position: relative;
    height: calc(100% - 50px);
    margin-top: 50px;
  }

  .mapContainer {
    width: 100%;
    height: 100%;
  }

  .customHeader {
    padding: 16px;
    background: #fff;
    width: 100%;
    color: #000 !important;
    display: flex;
    text-align: center;
    align-items: center;

    .headericons {
      width: 25px;
      height: 25px;
    }

    .textWhite {
      div {
        color: #000 !important;
        font-size: 24px;
      }
    }
  }

  .myview {
    background: #f3f5f8;
    padding: 30px;
  }

  /* Load detail page css */

  .LoaddetailPage {
    width: 100%;
    display: block;
    padding: 0 16px 16px 16px;
    margin-top: 60px;
    .DetailCrad {
      background: #fff;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin: 5px 0 0 0;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);

      .labelstapName {
        margin: 0;
        color: rgba(51, 51, 51, 0.6);
        font-size: 14px;
        white-space: pre-line;
      }

      .labelstapDetail {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        @extend .labelstapName;
      }
    }
  }

  /* Load detail page css */

  /* stops list page */

  .laodStops-page {
    width: 100%;
    display: block;
    padding: 0 16px 16px 16px;

    .loadStops-list {
      position: relative;

      .loadRoutDeatils {
        .formtoTO {
          margin: 6vh 0;
          overflow: hidden;
          padding-left: 0;

          &:after {
            right: 18px;
          }

          .form-point {
            padding: 0;
            height: 20px;
            width: 20px;
            background: #d7202b;
            border-radius: 50%;
            z-index: 999;
            color: #fff;
            padding-top: 3px;

            &:after {
              display: none;
            }
          }

          .to-point {
            padding: 0;

            &:after {
              right: 0;
              left: -6px;
              top: -17px;
            }
          }
        }
      }

      .listofStops {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: row wrap;
        -webkit-box-align: self-end;
        -webkit-align-items: self-end;
        -ms-flex-align: self-end;
        align-items: center;
        align-items: normal;

        .listofStopsCard {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
          margin-bottom: 20px;
          position: relative;

          .labelstapDetail {
            margin: 0;
            font-size: 15px;
            color: #333;
            width: 100%;
            font-weight: 700;
            white-space: normal;
          }

          .stopReachstatus {
            margin: 0;
            color: #999;
            width: 100%;
            white-space: normal;
            font-size: 11px;
          }

          .stopGetButton {
            display: flex;
            flex-flow: row wrap;

            > div {
              padding: 5px 15px 0 0;
              min-width: 50%;
            }

            .labelstapDetail {
              margin: 0;
              text-transform: uppercase;
              font-weight: 500;
            }

            .clickonNavigat {
              margin: 0;
            }

            .gettheLocationsBtn {
              color: #fff;
              padding: 5px !important;
              font-size: 12px;
              border-radius: 4px;
              align-self: auto;
              text-transform: uppercase;
              text-align: center;
              margin: 0;
              width: 100%;
              box-shadow: none;

              &[disabled] {
                background: #e5e7e8;
                border-color: #e5e7e8;
                color: #9e9e9e;
                opacity: 1;
              }
            }
          }
        }
      }

      .divOnly-10 {
        width: 10%;
      }

      .divOnly-90 {
        width: 90%;
      }
    }
  }

  .first-status {
    background: #d72069 !important;
    color: #fff !important;
    border: none !important;
  }

  .second-status {
    background: #ffc618 !important;
    color: #fff !important;
    border: none !important;
  }

  .thired-status {
    background: #0058aa !important;
    color: #fff !important;
    border: none !important;
  }

  .forth-status {
    background: #58a3eb !important;
    color: #fff !important;
    border: none !important;
  }

  .fifth-status {
    background: #28a745 !important;
    color: #fff !important;
    border: none !important;
  }

  .sixth-status {
    background: #b1d605 !important;
    color: #fff !important;
    border: none !important;
  }

  .pagemove-tabs {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 100%;
    text-align: center;

    .active {
      color: #d7202b;
      border-bottom: 2px solid #d7202b;
    }

    [col-6] {
      padding: 15px;
    }
  }

  .myRoute-Page {
    // height: calc(100vh - 150px);

    .MapsBox {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .navigation-info {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 32px);
      margin-left: 16px;
      text-align: left;
    }
  }

  /* My Route page start */

  .myRoute-Page {
    width: 100%;
    position: relative;

    .AboutTheRoute-Details {
      width: 100%;
      display: block;
      padding: 5px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      text-align: left;

      .RouteName {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 0;

        sub {
          font-size: 12px;
        }
      }

      .Routetime-detail {
        margin: 5px 0;
        font-size: 15px;
        color: #999999;
      }

      .RouteEarning-detail {
        margin: 10px 0;
        font-size: 13px;
        line-height: 1.7;
      }

      .navigatehere {
        border-radius: 4px;
        height: 50px;
        font-size: 1.6rem;
        color: #fff;
        background-color: #d7202b;
        margin: 0.4rem 0.2rem;
        padding: 15px;
        width: 50px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
      }
    }

    .NavigatemeBtn {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  .loadRoutDeatils {
    padding: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 100%;
    padding-bottom: 30px;

    .formtoTO {
      list-style-type: nonu;
      padding: 0 10px;
      margin: 0;
      list-style: none;
      position: relative;
      -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
      align-self: self-start;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      &::after {
        // background: url("../assets/imgs/home/after-border.svg") repeat-y 0 0;
        // position: absolute;
        // content: "";
        // width: 2px;
        // height: 100%;
        // right: -10px;
        // top: -1px;
        // z-index: 1;

        right: 18px;
        position: absolute;
        content: "";
        width: 0px;
        height: 100%;
        top: 0px;
        z-index: 1;
        left: 9px;
        border: 1px solid lightgray;
      }

      li {
        list-style-type: nonu;
        padding: 3px 8px;
        text-align: center;
        list-style: none;
        font-size: 12px;
        background: #e8ebef;
        margin-bottom: 15px;
        position: relative;

        &:last-child {
          margin: 0;
        }
      }

      .form-point:after {
        content: "";
        display: block;
        position: absolute;
        height: 8px;
        background-color: #fff;
        right: -27px;
        width: 8px;
        border-radius: 50%;
        top: 5px;
        border: 4px solid #d7202b;
        z-index: 99;
      }

      .to-point:after {
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        background-color: #d7202b;
        right: -27px;
        width: 16px;
        border-radius: 50%;
        top: 5px;
      }
    }
  }

  /* My Route page end */
}

/* My Route page end */
