<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Load Details</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="myview">

  <ion-row style="position: absolute;width: 100%;z-index: 111;">
    <div class="pagemove-tabs">
      <ion-row>
        <ion-col col-6 (click)="TabactiveClick(1)" [ngClass]="{'active' :  activeTab == 1 || ''}">
          Map
        </ion-col>
        <ion-col col-6 [ngClass]="{'active' :  activeTab == 2 || ''}" (click)="TabactiveClick(2)">
          Details
        </ion-col>
      </ion-row>
    </div>
  </ion-row>

  <div class="mapMainContainer" *ngIf="activeTab == 1 && orderListDetails">

    <ion-item>
      <ion-label>Display All Tracking Points</ion-label>
      <ion-checkbox [(ngModel)]="checkboxModel" (ionChange)="checkBoxClick()"></ion-checkbox>
    </ion-item>

    <div #map class="mapContainer" id="mapContainers"></div>
  </div>
  
  
  <div *ngIf="activeTab == 2">
    <ion-row>
      <div class="LoaddetailPage">
        <div class="DetailCrad">
          <ion-row>
            <ion-col col-6>
              <ion-label class="labelstapName">Load ID : </ion-label>
            </ion-col>
            <ion-col col-6>
              <ion-label class="labelstapDetail">{{orderListDetails.load_id}} </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-label class="labelstapName">Shipper : </ion-label>
            </ion-col>
            <ion-col col-6>
              <ion-label class="labelstapDetail">{{orderListDetails.customer_name}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-label class="labelstapName">Driver : </ion-label>
            </ion-col>
            <ion-col col-6>
              <ion-label class="labelstapDetail">{{orderListDetails.driver_name}}</ion-label>
            </ion-col>
          </ion-row>
          

          <ion-row>
              <ion-col col-6>
                <ion-label class="labelstapName">Phone Number : </ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-label class="labelstapDetail">{{orderListDetails.customer_phone}}</ion-label>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-label class="labelstapName">From : </ion-label>
            </ion-col>
            <ion-col col-6>
              <ion-label class="labelstapDetail">{{orderListDetails.from}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-label class="labelstapName">To : </ion-label>
            </ion-col>
            <ion-col col-6>
              <ion-label class="labelstapDetail">{{orderListDetails.to}}</ion-label>
            </ion-col>
          </ion-row>
          
        </div>
      </div>
    </ion-row>

    <ion-row>
      <div class="laodStops-page">
        <div class="loadStops-list">
          <div class="listofStops">
            <div class="divOnly-10">
              <div class="loadRoutDeatils">
                <ul class="formtoTO align-self-start">
                  <li class="form-point" *ngFor="let item of statusLogDetails;let index=index">
                    {{index+1}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="divOnly-90">

              <div class="listofStopsCard" *ngFor="let item of statusLogDetails">
                <div class="">
                  <ion-label class="labelstapDetail">{{item.date}} </ion-label>
                </div>
                <div class="stopGetButton">
                  <div class="">
                    <div class="d-flex flex-column">
                      <ion-label class="gettheLocationsBtn {{constant.loadStatus(item.status_id)}}">
                          {{item.status_name}}
                      </ion-label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </ion-row>
  </div>
  

</ion-content>