page-AddDriver {
  .lbl-custome {
    font-size: 16px;
  }
  .divMainLoginContiner {
    width: calc(100% - 32px);
    margin-left: 16px;
    text-align: center;

    .selectRoleContainer {
      .lbl {
        margin: 0;
        margin-bottom: 8px;
        text-align: left;
      }
      .selectRow {
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 30px;
        .active {
          background-color: #d71f2b;
          color: white;
          border-radius: 30px;
        }
        .colOne {
          padding: 10px 5px;
        }
        .colTwo {
          padding: 10px 5px;
        }
      }
    }

    .logo {
      margin-top: 20%;
    }

    .logoLbl {
      font-size: 32px;
      letter-spacing: -1px;
      color: #333;
      font-family: "Helvetica Neue";
      font-weight: 300;
      text-align: center;
      margin: 0;
      margin-top: 0px;
    }

    .logoDesc {
      font-size: 13px;
      letter-spacing: 0px;
      line-height: 20px;
      color: #333;
      font-family: "Helvetica Neue";
      text-align: center;
      white-space: normal;
      margin: 0;
      margin-top: 12px;
    }

    .inputContainer {
      position: relative;
      margin-top: 10px;

      .input-box {
        border: 1px solid #ccc;
        padding: 0;
        margin-top: 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        min-height: 40px;

        .input-icon {
          background: #E4E6E6;
          width: 15%;
          padding: 10px 5px !important;

          svg {
            height: 20px;
            width: 20px;
            fill: #fff;
          }
        }

        .phoneInput {
          display: flex;
          flex-flow: row wrap;

          .text-input {
            padding: 9px 10px;
            color: #333;
            width: 100%;
            margin: 0;
          }
        }
      }

      .input-boxFileUpload {
        background: #F8F8F8;
        border-radius: 3px;
        border: 1px dashed #707070;
        position: relative;
        padding: 10px;
        ion-icon {
          font-size: 82px;
          color: #ccc;
        }
        .editProfilePic {
          background: #d71f2b;
          height: 20px;
          width: 20px;
          position: relative;
          display: inline-block;
          right: 20px;
          box-shadow: 3px 2px 4px rgba(0, 0, 0, .2);
          border-radius: 100%;
          svg {
            width: 100%;
            padding: 5px;
            position: relative;
            top: -2px;
          }
        }
      }

      .input-group {
        margin-top: 16px;
        .input-box {
          margin: 0;
          .item-block {
            min-height: 37px;
            .label-md {
              margin: 7px 8px 7px 0;
              font-size: 14px;
              opacity: .6;
            }
            .select-md {
              padding: 7px 8px 7px 16px;
              .select-text {
                font-size: 14px;
              }
            }
          }
          .item-md {
            padding-left: 10px;
          }
          .ion-md-calendar {
            position: absolute;
            right: 16px;
            color: #D7202B;
          }
          .datetime-ios {
            padding: 9px 10px;
          }
        }
      }

      .item-inner {
        border-bottom: 0;
      }

      .custominput-label {
        font-size: 14px;
        text-align: left;
        color: #333;
        margin: 0;
        padding-bottom: 6px;
      }

      .eyeIcon {
        position: absolute;
        right: 0px;
        bottom: 7px;
        color: white;
        font-size: 24px;
      }
    }

    .forgotPasswordCont {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      margin: 20px 0;
      color: #999;
      line-height: 1.7;

      .forgotPasswordBtn {
        box-shadow: none;
        color: #ffffff;
        padding-top: 16px;
        font-size: 13px;
        background: transparent;
        text-align: right;
        padding: 0;
        text-transform: uppercase;
        margin: 0;
        text-transform: none;
        font-family: "Helvetica Neue";

        .button-inner {
          color: #d7202b;
        }
      }
    }
  }

  .step-nav-section {
    position: fixed;
    margin-top: 0;
    z-index: 999;
    text-align: center;
    width: 100%;
    background:#fff;
    ul {
      list-style-type: none;
      text-align: center;
      position: relative;
      top: 0px;
      padding-top: 1px;
      right: 20px;
      li {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        background-color: #CCCCCC;
        padding: 2px 0 0;
        width: 25px;
        height: 25px;
        position: relative;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        margin-left: 15px;
        margin-right: 15px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          background-color: #CCCCCC;
          left: -27px;
          width: 20px;
          top: 11px;
        }
        &:first-child{
          &::before {
            display: none;
          }
        }
        &.current {
            background-color: 
            #D7202B;
        }
      }
    }
  }
  .pageCustomHedaing {
    position: relative;
    h2 {
      color: #d7202b;
      font-size: 20px;
    }
    .label.label-md {
      margin-bottom: 0;
    }
    .item-inner {
      border-bottom: 0 !important;
    }
  }

  .ticketOpen {
    background: green;
  }
  .ticketClose {
    background: gray;
  }
  .pageSubmitRow {
    display: flex;
    padding: 25px 0;
    .ActionButton {
      text-align: center;
      background-color:#d71f2b;
      color:white;
      font-size: 16px;
      border-radius: 4px;
      margin: 0 8px;
      font-weight: 500;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.cancelButton {
        margin-left: 0;
        background: transparent;
        color: #d71f2b;
        border: 1px solid #d71f2b;
      }&.doneButton {
        margin-right: 0;
      }
      svg {
        margin-right:10px ;
        width: 15px;
        height: 15px;
        path {
          fill: #d71f2b;
        }
      }
    }
  }
  

  .btnSignin {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 50px;
    box-shadow: none;
    background: #d7202b;
    font-family: "Helvetica Neue";
    font-weight: 500;

    span {
      text-transform: uppercase;
    }
  }

  .arrowImage {
    overflow: hidden;
    width: 70px;
    height: 55px;
  }
}
