<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title *ngIf="!paramData">Add New Driver</ion-title>
      <ion-title *ngIf="paramData">Edit Driver</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="pageCustomHedaing">
    <ion-label>
      <h2>
        <svg id="Vector_Smart_Object" data-name="Vector Smart Object" xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" viewBox="0 0 16 16">
          <path id="Path_59" data-name="Path 59"
            d="M11,9a5.888,5.888,0,0,0,2-4A5,5,0,0,0,3,5,5.888,5.888,0,0,0,5,9c-2.765,1.261-5,3.768-5,7H2a6,6,0,0,1,12,0h2C16,12.768,13.765,10.261,11,9ZM5,5A3,3,0,1,1,8,8,3,3,0,0,1,5,5Z"
            fill="#d7202b"></path>
        </svg> Add New Driver </h2>
    </ion-label>
  </ion-item>

  <div class="divMainLoginContiner">
    <div class="inputContainer">

      <div class="input-group">
        <ion-label class="custominput-label">First Name 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="text" placeholder="Type here..." [(ngModel)]="driverModel.firstname">
          </ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Last Name 
          <span class="artriskRed">*</span> </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="text" placeholder="Type here..." [(ngModel)]="driverModel.lastname">
          </ion-input>
        </div>
      </div>
      <div class="input-group">
        <ion-label class="custominput-label">Email 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="text" placeholder="Type here..." [(ngModel)]="driverModel.email">
          </ion-input>
        </div>
      </div>
      <div *ngIf="!editDriverData" class="input-group">
        <ion-label class="custominput-label">Password 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="password" placeholder="Type here..." [(ngModel)]="driverModel.password">
          </ion-input>
        </div>
      </div>
      <div *ngIf="!editDriverData" class="input-group">
        <ion-label class="custominput-label">Confirm Password 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="password" placeholder="Type here..."
            [(ngModel)]="driverModel.confirm_password"></ion-input>
        </div>
      </div>
      <div class="input-group">
        <ion-label class="custominput-label">Contact No </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="tel" placeholder="Type here..." [(ngModel)]="driverModel.phone">
          </ion-input>
        </div>
      </div>
      <div class="input-group">
        <ion-label class="custominput-label">Extra Number (optional)</ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="tel" placeholder="Type here..." [(ngModel)]="driverModel.extra_phone">
          </ion-input>
        </div>
      </div>
      <div class="input-group">
        <ion-label class="custominput-label">License No.</ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="text" placeholder="Type here..." [(ngModel)]="driverModel.licence_no">
          </ion-input>
        </div>
      </div>
      <div class="input-group">
        <ion-label class="custominput-label">Vehicle number (optional)</ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="text" placeholder="Type here..." [(ngModel)]="driverModel.vehicle_no">
          </ion-input>
        </div>
      </div>
      
      <div class="input-group">
        <ion-label class="custominput-label">Address</ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" type="text" placeholder="Type here..." [(ngModel)]="driverModel.address">
          </ion-input>
        </div>
      </div>



      <div class="input-group">
        <ion-label class="custominput-label">Address Details</ion-label>
        <div class="input-box">
          <ion-textarea class="phoneInput" rows="6" cols="20" placeholder="Enter your address detail here..."
            [(ngModel)]="driverModel.address_details"></ion-textarea>

        </div>
      </div>

      <!---------------------------- Profile PIC ------------------------------>
      <div class="input-group" *ngIf="!this.driverModel.profilePic">
        <ion-label class="custominput-label">Profile Picture </ion-label>
        <div class="input-boxFileUpload" (click)="uploadProfilePIC()">
          <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
          <span class="editProfilePic">
            <svg height="25" viewBox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.5,24.289V29.5H9.708L25.067,14.137,19.859,8.93ZM29.094,10.11a1.383,1.383,0,0,0,0-1.958L25.844,4.9a1.383,1.383,0,0,0-1.958,0L21.345,7.444l5.208,5.208,2.541-2.541Z"
                data-name="Icon material-mode-edit" fill="#f5f4f4" id="Icon_material-mode-edit"
                transform="translate(-4.5 -4.496)"></path>
            </svg>
          </span>
        </div>
      </div>

      <div class="input-group" *ngIf="this.driverModel.profilePic">
        <ion-label class="custominput-label">Profile Picture </ion-label>
        <div class="input-boxFileUpload" (click)="uploadProfilePIC()">
          <img style="height: 100px;" src="{{this.driverModel.profilePic}}">
        </div>
      </div>

    </div>

    <ion-row class="pageSubmitRow">
      <button ion-button class="ActionButton cancelButton" (click)="cancelClick()">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
          <path id="Path_171" data-name="Path 171" d="M-237.707-105.707l-1-1-5,5-6-5-1,1,5,6-5,5,1,1,6-5,5,5,1-1-5-5Z"
            transform="translate(250.707 106.707)" fill="#d71f2b"></path>
        </svg>
        Cancel
      </button>
      <button ion-button class="ActionButton doneButton" (click)="saveClick()">Save</button>
    </ion-row>
  </div>

</ion-content>