<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>

      <ion-title *ngIf="!paramData">Add New Load</ion-title>
      <ion-title *ngIf="paramData">Edit Load</ion-title>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--------------------------- Header Indicator ----------------------------->

  <div class="step-nav-section">
    <ul>
      <li id="first" class="">1</li>
      <li id="second" class="current">2</li>
      <li id="third" class="">3</li>
    </ul>
  </div>


  <!-- Location Add Remove -->

  <div class="pickModuleContainer" *ngFor="let item of LocationDynamicArry; let index=index">

    <ion-row class="headerTitleContainer">
      <ion-col col-8 class="colOne">
        <ion-icon name="md-pin"></ion-icon>
        {{item.locationHeader}}
      </ion-col>
      <ion-col *ngIf="index != 0 && (LocationDynamicArry.length-1) != index" col-4 class="colTwo" (click)="RemovePickLocationClick(index)">
        Remove
      </ion-col>
    </ion-row>

    <div class="divMainLoginContiner">

      <div class="inputContainer">

        <div class="input-group">
          <ion-label class="custominput-label">Select Location
            <span class="artriskRed">*</span>
          </ion-label>
          <div class="input-box" (click)="locationSearch(index)">
            <ion-label style="text-align: left;padding-left: 12px;">{{item.locationName}}</ion-label>
          </div>
        </div>

        <div class="input-group">
          <div style="height: 190px;" id="{{item.mapDynamicID}}{{index}}"></div>
        </div>

        <div class="input-group">
          <ion-label class="custominput-label">External Location ID </ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="item.eLocation" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>
        <div class="input-group">
          <ion-label class="custominput-label">Stop Name </ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="item.stopName" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>
        <div class="input-group">
          <ion-label class="custominput-label">Reference # </ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="item.refrence" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>

        <div class="input-group">
          <ion-label class="custominput-label">Tracking # </ion-label>
          <div class="input-box">
            <ion-input [(ngModel)]="item.tracking" class="phoneInput" type="text" placeholder="Type here...">
            </ion-input>
          </div>
        </div>

        <div class="input-group">
          <ion-label class="custominput-label">Earliest Appointment Time 
            <span class="artriskRed">*</span>
          </ion-label>
          <div class="input-box">
            <ion-datetime [(ngModel)]="item.eTime" style="position: relative;" placeholder="Choose date..."
              displayFormat="DD MMM, YYYY HH:mm">
            </ion-datetime>
            <ion-icon name="md-calendar">
            </ion-icon>
          </div>
        </div>

        <div class="input-group">
          <ion-label class="custominput-label">Shipping Hours</ion-label>

          <ion-row class="rowOne">

            <ion-col class="colOne">
              <ion-select [(ngModel)]="item.shippingFromHours" placeholder="Choose Time...">
                <ion-option *ngFor="let subItem of constant.timeArry" value="{{subItem.value}}">{{subItem.time}}</ion-option>
              </ion-select>
            </ion-col>

            <ion-col class="colTwo">
              <ion-select [(ngModel)]="item.shippingToHours" placeholder="Choose Time...">
                <ion-option *ngFor="let subItem of constant.timeArry" value="{{subItem.value}}">{{subItem.time}}</ion-option>
              </ion-select>
            </ion-col>

          </ion-row>

        </div>

        <ion-item class="checkboxCon">
          <ion-label>Appointment Required</ion-label>
          <ion-checkbox [(ngModel)]="item.appoinmentRequired"></ion-checkbox>
        </ion-item>

        <div *ngIf="item.appoinmentRequired" style="margin-top: 0px;" class="input-group">
          <div class="input-box">
            <ion-input [(ngModel)]="item.instruction" class="phoneInput" type="text" placeholder="Instruction">
            </ion-input>
          </div>
        </div>

      </div>

      <ion-row class="addSubLocationBtn" *ngIf="(LocationDynamicArry.length-1) != index">
        <ion-col class="ActionButton cancelButton" (click)="addPickLocationAddClick()">
          <ion-icon class="addIcon" name="md-add"></ion-icon>
          Add Pick-up Point
        </ion-col>
        <ion-col class="ActionButton doneButton" (click)="addDropLocationAddClick()">
          <ion-icon class="addIcon" name="md-add"></ion-icon>
          Add Drop Point
        </ion-col>
      </ion-row>

    </div>

  </div>

  <!-- Next and Cancel Button -->

  <ion-row class="pageSubmitRow">
    <ion-col class="ActionButton cancelButton" (click)="backClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
        <path id="Path_171" data-name="Path 171" d="M-237.707-105.707l-1-1-5,5-6-5-1,1,5,6-5,5,1,1,6-5,5,5,1-1-5-5Z"
          transform="translate(250.707 106.707)" fill="#d71f2b"></path>
      </svg>
      Back</ion-col>
    <ion-col class="ActionButton doneButton" (click)="nextClick()">
      Next </ion-col>
  </ion-row>



</ion-content>