page-AddLoadSecond {
  .content {
    background-color: #e7ecf1;
  }

  .headerTitleContainer {
    padding: 12px;
    .colOne {
      color: #d7202b;
      font-size: 18px;
    }
    .colTwo {
      color: #d7202b;
      font-size: 18px;
      text-align: right;
    }
  }

  .divMainLoginContiner {
    padding: 16px;
    text-align: center;

    .input-group {
      margin-top: 16px;
      .input-box {
        margin: 0;
        .item-block {
          min-height: 37px;
          .label-md {
            margin: 7px 8px 7px 0;
            font-size: 14px;
            opacity: 0.6;
          }
          .select-md {
            padding: 7px 8px 7px 16px;
            .select-text {
              font-size: 14px;
            }
          }
        }
        .item-md {
          padding-left: 10px;
        }
        .ion-md-calendar {
          position: absolute;
          right: 16px;
          color: #d7202b;
        }
        .datetime-ios {
          padding: 9px 10px;
        }
      }
    }

    .inputContainer {
      position: relative;
      margin-top: 10px;

      .input-box {
        border: 1px solid #ccc;
        padding: 0;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        min-height: 40px;

        .input-icon {
          background: #e4e6e6;
          width: 15%;
          padding: 10px 5px !important;

          svg {
            height: 20px;
            width: 20px;
            fill: #fff;
          }
        }

        .phoneInput {
          display: flex;
          flex-flow: row wrap;

          .text-input {
            padding: 9px 10px;
            color: #333;
            width: 100%;
            margin: 0;
          }
        }
      }

      .item-inner {
        border-bottom: 0;
      }

      .custominput-label {
        font-size: 14px;
        text-align: left;
        color: #333;
        margin: 0;
        padding-bottom: 6px;
      }
    }

    .rowOne {
      .colOne {
        border: 1px solid lightgray;
        height: 45px;
        padding: 0;
        margin: 0;
        margin-right: 4px;
        text-align: left;
      }
      .colTwo {
        border: 1px solid lightgray;
        height: 45px;
        padding: 0;
        margin: 0;
        margin-left: 4px;
        text-align: left;
      }
    }
  
    .checkboxCon{
      margin-top: 8px;
      margin-left: 0;
      padding-left: 0;
    }
  }

  

  .step-nav-section {
    padding-top: 12px;
    text-align: center;
    width: 100%;
    background: #fff;
    height: 65px;
    margin-bottom: 16px;
    ul {
      list-style-type: none;
      text-align: center;
      position: relative;
      top: 0px;
      padding-top: 1px;
      right: 20px;
      li {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        background-color: #cccccc;
        padding: 2px 0 0;
        width: 25px;
        height: 25px;
        position: relative;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        margin-left: 15px;
        margin-right: 15px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background-color: #cccccc;
          left: -27px;
          width: 20px;
          top: 11px;
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
        &.current {
          background-color: #d7202b;
        }
      }
    }
  }

  .pageSubmitRow {
    display: flex;
    padding: 25px 0;
    width: calc(100% - 32px);
    margin-left: 16px;
    .ActionButton {
      text-align: center;
      background-color: #d71f2b;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      margin: 0 8px;
      font-weight: 500;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.cancelButton {
        margin-left: 0;
        background: transparent;
        color: #d71f2b;
        border: 1px solid #d71f2b;
      }
      &.doneButton {
        margin-right: 0;
      }
      svg {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        path {
          fill: #d71f2b;
        }
      }
    }
  }

  .pickModuleContainer {
    background: white;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .addSubLocationBtn {
    margin-top: 12px;
    .addIcon {
      font-size: 24px;
      padding-right: 8px;
    }
    .ActionButton {
      text-align: center;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      margin: 0 8px;
      font-weight: 500;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.cancelButton {
        margin-left: 0;
        background: transparent;
        color: #d71f2b;
        font-size: 14px;
        border: 1px solid #d71f2b;
      }
      &.doneButton {
        margin-right: 0;
        background: transparent;
        color: #d71f2b;
        font-size: 14px;
        border: 1px solid #d71f2b;
      }
      svg {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        path {
          fill: #d71f2b;
        }
      }
    }
  }

  ion-select{
    max-width: 100%;
  }

}
