page-UserList {
  .content {
    background-color: #fff;
  }
  .searchbar-input-container {
    padding: 0 4px;
    .searchbar-input {
      box-shadow: none;
      border: 1px solid rgba(112, 112, 112, 0.4);
    }
  }
  .AddNewLoad-button {
    position: sticky;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D7202B;
    left: 80%;
    padding: 12px;
    bottom: 70px;
    box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.4);
  }
  .mainContainer {
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    position: relative;
    background: white;
    padding: 0 12px;
    .subContainer {
      position: relative;
      display: flex;
      align-items: flex-start;
      .paperIcon {
        float: left;
        padding:0;
        background:#ccc;
        border-radius: 100%;
        min-height: 40px;
        margin-right: 16px;
        min-width: 40px;
        display: flex;
        position: relative;
        overflow: hidden;
        top: 14px;
        justify-content: center;
        align-items: center;
        max-height: 40px;
        max-width: 40px;
        border: 1px solid lightgray;
      }
      .loadDetails {
        display: flex;
        padding: 12px 0;
        flex-basis: 90%;
        flex-flow: column wrap;
        border-bottom: 1px solid rgba($color: #707070, $alpha: 0.4);
        .loadnormalDetails {
          width: 100%;
          display: block;
          .d-flex {
            display: flex;
          }
        }
      }
      .idLbl {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        width: calc(100% - 60px);
        .statusLbl {
          margin: 0;
          font-weight: normal;
          color: #fff;
          font-size: 11px;
          padding: 3px 10px;
          border-radius: 3px;
          margin-top: 3px;
          display: inline-block;
        }
        .userSubTitle {
          font-size: 14px;
          color: #333;
          font-weight: normal;
        }
      }
      .dotIcon {
        position: relative;
        right: 0;
        top: 3px;
        font-size: 30px;
        color: #d71f2b;
        padding: 3px 11px;
      }
    }

    .subContainerTwo {
      margin-top: 0px;
      padding-top: 10px;
      .rowOne {
        .colOne {
          font-size: 14px;
          color: #333;
          padding-left: 0;
          font-weight: bold;
        }
        .colTwo {
          text-align: right;
          font-size: 14px;
          color: #999999;
        }
       
      }

      .rowTwo {
        align-items: center;
        .colOne {
          font-size: 14px;
          color: #999999;
          padding-left: 0;
          strong {
            color: #333;
          }
          &.pt-0 {
            padding-top: 0;
          }
        }
        .colTwo {
          color: #999999;
          font-size: 26px;
          padding-top: 16px;
          text-align: center;
          strong {
            color: #333;
          }
        }
        .colThree {
          font-size: 14px;
          text-align: right;
          color: #999999;
          strong {
            color: #333;
          }
        }
      }

      .rowThree {
        margin: 0px;
        margin-top: 8px;
        .d-flex {
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }
        .colOne {
          text-align: center;
          background-color: #d71f2b;
          color: white;
          font-size: 12px;
          border-radius: 4px;
          height: 40px;
          font-weight: bold;
          margin-right: 8px;
        }
        .colTwo {
          text-align: center;
          background-color: #d71f2b;
          color: white;
          font-size: 12px;
          border-radius: 4px;
          height: 40px;
          font-weight: bold;
          margin-left: 8px;
          
        }
        .editButton {
          margin: 0 16px;
        }
        svg {
          width: 15px;
          margin-right: 8px;
          height: 15px;
        }
        .deleteButton {
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}
