<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <button class="menuBtn" ion-button menuToggle>
        <ion-icon class="menuIcon" name="md-menu"></ion-icon>
      </button>
      <ion-title>USERS LIST</ion-title>
      <ion-buttons end>
        <button ion-button (click)="AddNewUserClick()">
          <ion-icon style="font-size: 30px;color: #d71e2b;" name="md-add-circle"></ion-icon>
        </button>
      </ion-buttons>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Searchbar with a cancel button and custom cancel button text -->
  
  <ion-searchbar style="background: #e8e8e8;position: sticky;top: 0;z-index: 111;" [(ngModel)]="searchModel" [showCancelButton]="false"
    (ionInput)="searchChangeEvent($event)" (ionClear)="onCancelSearch($event)">
  </ion-searchbar>

  <div class="mainContainer" *ngFor="let user of userListArry; let index=index">

    <div class="subContainer">
      <img class="paperIcon" src="{{user.image_url}}">
      <div class="loadDetails">
        <div class="loadnormalDetails">
          <div class="d-flex">
            <ion-label class="idLbl">
              {{user.name}}
              <br>
              <span class="userSubTitle">{{user.email}}</span>
            </ion-label>
            <ion-icon (click)="expandViewClick(index)" class="dotIcon" name="md-more"></ion-icon>
          </div>

        </div>

        <div class="subContainerTwo" *ngIf="indexExpandView == index">
          <ion-row class="rowOne">
            <ion-col class="colOne">Contact</ion-col>
            <ion-col class="colTwo">{{user.phone}}</ion-col>
          </ion-row>
          <ion-row class="rowOne">
            <ion-col class="colOne">User Type</ion-col>
            <ion-col class="colTwo">Admin</ion-col>
          </ion-row>
          <ion-row class="rowTwo">
            <ion-col class="colOne" col-12><strong>Address Details</strong></ion-col>
            <ion-col class="colOne pt-0" col-12>{{user.address_details}}</ion-col>

          </ion-row>
          <ion-row class="rowThree">
            <ion-col class="colOne d-flex" (click)="editUserClick(user)">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                <path id="Icon_material-mode-edit" data-name="Icon material-mode-edit"
                  d="M4.5,24.289V29.5H9.708L25.067,14.137,19.859,8.93ZM29.094,10.11a1.383,1.383,0,0,0,0-1.958L25.844,4.9a1.383,1.383,0,0,0-1.958,0L21.345,7.444l5.208,5.208,2.541-2.541Z"
                  transform="translate(-4.5 -4.496)" fill="#f5f4f4" />
              </svg>
              Edit
            </ion-col>
            <ion-col (click)="deleteUserAdminClick(user)" class="colTwo d-flex deleteButton">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
                <g id="Group_1212" data-name="Group 1212" transform="translate(-605 -393)">
                  <path id="Icon_metro-bin" data-name="Icon metro-bin"
                    d="M6.037,9.741V25.366a1.555,1.555,0,0,0,1.538,1.563H21.422a1.555,1.555,0,0,0,1.538-1.562V9.741H6.037ZM10.653,23.8H9.114V12.866h1.538Zm3.077,0H12.191V12.866H13.73Zm3.077,0H15.268V12.866h1.538Zm3.077,0H18.345V12.866h1.538Zm3.462-18.75h-5V3.1a1.166,1.166,0,0,0-1.154-1.172H11.806A1.166,1.166,0,0,0,10.653,3.1V5.053h-5A1.166,1.166,0,0,0,4.5,6.225V8.178h20V6.225A1.166,1.166,0,0,0,23.345,5.053Zm-6.538,0H12.191V3.51h4.615V5.053Z"
                    transform="translate(600.501 391.072)" fill="#fff" />
                </g>
              </svg>
              Delete
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

  </div>

  <ion-infinite-scroll style="position: absolute;" *ngIf="infiniteScrollEnable"
    (ionInfinite)="InfinitScrollingAPI($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>