page-settings {
  background-color: darkgray;

  .profileContainer {
    padding: 16px;
    background: linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    .UserProfileimage {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 3px solid #fff;
    }
    .nameLbl {
      font-size: 16px;
      color: white;
      font-weight: bold;
      padding-bottom: 5px;
      margin: 0;
    }
    .phoneLbl {
      font-size: 12px;
      color: white;
      padding-bottom: 5px;
      margin: 0;
    }
    .emailLbl {
      margin: 0;
      font-size: 12px;
      color: white;
    }
    .editIcon {
      font-size: 24px;
      color: white;
      position: absolute;
      right: 8px;
      top: 8px;
      padding: 3px 5px;
    }
  }

  .rowOne {
    padding: 12px;
    border-bottom: 1px solid lightgray;
    .colOne {
      padding-top: 8px;
      font-size: 16px;
    }
    .colTwo {
      text-align: right;
      .editIcon {
        font-size: 26px;
      }
    }
  }

  .profileLogOut {
    padding: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
  }

  .appversionLbl {
    text-align: center;
    position: absolute;
    bottom: 45px;
    width: 100%;
    font-weight: bold;
    color: darkgray;
    font-size: 12px;
    margin: 16px 0;
  }
}

/* profile page css */
