<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <button class="menuBtn" ion-button menuToggle>
        <ion-icon class="menuIcon" name="md-menu"></ion-icon>
      </button>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row class="profileContainer" *ngIf="profileData">
    <ion-col col-4>
      <img class="UserProfileimage" src="{{profileData.image}}">
    </ion-col>
    <ion-col col-8 style="padding-top: 15px;">
      <ion-label class="nameLbl">{{profileData.firstname}} {{profileData.lastname}}</ion-label>
      <ion-label class="phoneLbl">{{profileData.phone}}</ion-label>
      <ion-label class="emailLbl">{{profileData.email}}</ion-label>
    </ion-col>
    <ion-icon class="editIcon" name="md-create" (click)="editProfileClick()"></ion-icon>
  </ion-row>

  <ion-row (click)="ChangePasswordClick()" class="rowOne">
    <ion-col class="colOne">
      Reset Password
    </ion-col>
    <ion-col class="colTwo">
      <ion-icon class="editIcon" name="ios-arrow-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <button (click)="LogoutClick()" ion-button class="profileLogOut">LOGOUT</button>

  <ion-label *ngIf="appVersion" class="appversionLbl"> App Version {{appVersion}}</ion-label>
  
</ion-content>