page-place {
  .align-item-center {
    align-items: center;
  }
  .customHeader {
    padding: 16px;
    background: #fff;
    width: 100%;
    color: #000 !important;
    display: flex;
    text-align: center;
    align-items: center;

    .headericons {
      width: 25px;
      height: 25px;
    }
    .textWhite {
      div {
        color: #000 !important;
        font-size: 24px;
      }
    }
  }

  .mapContainer {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 60%;
    width: 100%;
    .gm-style-mtc {
      display: none;
    }
    .gm-control-active {
      display: none;
    }
    .gm-svpc {
      display: none;
    }
    .gmnoprint {
      display: none;
    }
  }

  .secondContainer {
    background: white;
    height: 40%;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    .lineCont {
      height: 5px;
      background: lightgray;
      width: calc(100% - 70%);
      margin-left: 35%;
      margin-top: 16px;
      border-radius: 14px;
    }
    .titleLbl {
      font-size: 18px;
      margin: 0;
      margin-top: 25px;
      font-weight: bold;
      color: #5a5959;
    }

    .rowOne{
      padding: 16px;
      margin-top: 8px;
    }
  }
}
