<ion-header class="customHeader">
  <img class="headericons" src="assets/imgs/header-icon.png">
  <ion-title class="textWhite">Explore Places</ion-title>
</ion-header>


<ion-content>
  <div #map class="mapContainer" id="map"></div>

  <div class="secondContainer">
    <div class="lineCont"></div>
    <ion-label class="titleLbl">Explore Nearby Places</ion-label>
    <ion-row class="rowOne">

      <ion-col (click)="ClickCategory('gas pump')" style="margin-right: 8px;">
        <div style="background: #f1f1f1;border-radius: 8px;">
          <img style="height: 30px;width: 30px;margin-top: 12px;margin-bottom: 12px;" src="assets/imgs/gaspump.png">
        </div>
        <ion-label style="margin: 0;margin-top: 12px;font-weight: 500;color: #4e4e4e;">Gas</ion-label>
      </ion-col>

      <ion-col (click)="ClickCategory('walmart')" style="margin-right: 8px;margin-left: 8px;">
        <div style="background: #f1f1f1;border-radius: 8px;">
          <img style="height: 30px;width: 30px;margin-top: 12px;margin-bottom: 12px;" src="assets/imgs/walmart.png">
        </div>
        <ion-label style="margin: 0;margin-top: 12px;font-weight: 500;color: #4e4e4e;">Walmart</ion-label>
      </ion-col>

      <ion-col (click)="ClickCategory('truck parking')" style="margin-right: 8px;margin-left: 8px;">
        <div style="background: #f1f1f1;border-radius: 8px;">
          <img style="height: 30px;width: 42px;margin-top: 14px;margin-bottom: 10px;" src="assets/imgs/stop.png">
        </div>
        <ion-label style="margin: 0;margin-top: 8px;font-weight: 500;color: #4e4e4e;">Truck <br> Stop</ion-label>
      </ion-col>

      <ion-col style="margin-left: 8px;" (click)="MoreClick()">
        <div style="background: #f1f1f1;border-radius: 8px;">
          <img style="height: 30px;width: 30px;margin-top: 14px;margin-bottom: 10px;" src="assets/imgs/dot.png">
        </div>
        <ion-label style="margin: 0;margin-top: 12px;font-weight: 500;color: #4e4e4e;">More</ion-label>
      </ion-col>

    </ion-row>
  </div>
</ion-content>