.menu-inner {
  width: 75%;
}

.menu-inner {
  .scroll-content {
    .customeSideMenu {
      font-size: 18px;
      margin: 16px 8px 16px 0;
      &:last-child {
        position: absolute;
        bottom: 10px;
      }
      svg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
    .UserInSidebar {
      display: flex;
      background: linear-gradient(90deg, #c8242f 0%, #46201e 100%);
      flex-flow: row wrap;
      padding: 40px 10px;
      width: 100%;
      margin-bottom: 16px;
      align-items: center;
      .UserImage {
        display: block;
        height: 70px;
        width: 70px;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid white;
      }
      .UserDetails {
        padding-left: 16px;
        .UserName {
          font-size: 16px;
          font-weight: bold;
        }
        .UserEmail {
          font-size: 11px;
          font-weight: normal;
        }
        p {
          margin: 0;
          color: #fff;
        }
      }
    }
    .customeSideBar {
      padding: 0 16px;
      flex-flow: column wrap;
    }
  }
}

.menuContainer {
  .listContainer {
    position: relative;
    height: 50px;
    margin-left: 30px;
    .docIcon {
      position: absolute;
      font-size: 25px;
      color: darkgray;
      top: 15px;
      left: 12px;
      height: 20px;
    }
    .listNamelbl {
      margin: 0;
      margin-left: 50px;
      padding-top: 15px;
      font-size: 16px;
      line-height: 23px;
      color: #ffffff;
      font-family: "Avenir";
      font-weight: 500;
    }
  }
}

.toolbar-md {
  min-height: 50px;
}
.toolbar-background-md {
  background: white;
}

// For input bottom border color changes
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none;
}

.button-md {
  text-transform: none;
}

.button-md.activated {
  background-color: #d71f2b;
  box-shadow: none;
}

.header-ios .toolbar-background-ios {
  border: none !important;
}

.toolbar-ios .ion-title {
  text-align: left;
  padding: 0;
}

.header-ios {
  box-shadow: 0px 5px 20px #cecece;
}
// 1 Pending
// 2 Accept
// 3 Reject
// 4 Going to pick - up
// 5 Loading
// 6 On the way
// 7 Reach at drop point
// 8 Unloading
// 9 Delivered

.pending {
  background: #d72069;
}

.accept {
  background: #d72069;
}

.reject {
  background: #d72069;
}

.goingToPickup {
  background: #d72069;
}

.loading {
  background: #ffc618;
}

.onTheWay {
  background: #0058aa;
}

.reachAtDropPoint {
  background: #58a3eb;
}

.unloading {
  background: #28a745;
}

.delivered {
  background: #b1d605;
}

.artriskRed{
  color: red;
  font-size: 14px;
}
