<ion-menu [content]="mycontent">
  <ion-content class="menuContainer">

    <ion-row *ngIf="userData">
      <div class="UserInSidebar">
        <div style="margin-left: 8px;">
          <img class="UserImage" src="{{userData.image}}" />
        </div>
        <div class="UserDetails">
          <p class="UserName">
            {{userData.firstname}} {{userData.lastname}}
          </p>
          <p class="UserEmail">
            {{userData.phone}}
          </p>
          <p class="UserEmail">
            {{userData.email}}
          </p>
        </div>
      </div>
    </ion-row>

    <ion-row class="customeSideBar">
      <ion-label menuClose (click)=pageOpenFromSidemenu(1) class="customeSideMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25.5" viewBox="0 0 30 25.5">
          <path id="Icon_material-home" data-name="Icon material-home" d="M15,30V21h6v9h7.5V18H33L18,4.5,3,18H7.5V30Z"
            transform="translate(-3 -4.5)" fill="#e4202e" />
        </svg>
        Load List</ion-label>
      <ion-label menuClose (click)=pageOpenFromSidemenu(2) class="customeSideMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="36" viewBox="0 0 27 36">
          <path id="Icon_awesome-map-marker-alt" data-name="Icon awesome-map-marker-alt"
            d="M12.113,35.274C1.9,20.463,0,18.943,0,13.5a13.5,13.5,0,0,1,27,0c0,5.443-1.9,6.963-12.113,21.774a1.688,1.688,0,0,1-2.775,0ZM13.5,19.125A5.625,5.625,0,1,0,7.875,13.5,5.625,5.625,0,0,0,13.5,19.125Z"
            fill="#e4202e" />
        </svg>
        Address List</ion-label>
      <ion-label menuClose (click)=pageOpenFromSidemenu(3) class="customeSideMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="36" viewBox="0 0 45 36">
          <path id="Icon_awesome-shipping-fast" data-name="Icon awesome-shipping-fast"
            d="M43.875,24.75H42.75v-7.6a3.375,3.375,0,0,0-.991-2.384L34.734,7.741a3.375,3.375,0,0,0-2.384-.991h-3.1V3.375A3.376,3.376,0,0,0,25.875,0h-18A3.376,3.376,0,0,0,4.5,3.375V6.75H.563A.564.564,0,0,0,0,7.313V8.438A.564.564,0,0,0,.563,9H19.688a.564.564,0,0,1,.563.563v1.125a.564.564,0,0,1-.562.563H2.813a.564.564,0,0,0-.562.563v1.125a.564.564,0,0,0,.563.563H17.438a.564.564,0,0,1,.563.563v1.125a.564.564,0,0,1-.562.563H.563A.564.564,0,0,0,0,16.313v1.125A.564.564,0,0,0,.563,18H15.188a.564.564,0,0,1,.563.563v1.125a.564.564,0,0,1-.562.563H4.5v9a6.75,6.75,0,0,0,13.5,0h9a6.75,6.75,0,0,0,13.5,0h3.375A1.128,1.128,0,0,0,45,28.125v-2.25A1.128,1.128,0,0,0,43.875,24.75ZM11.25,32.625a3.375,3.375,0,1,1,3.375-3.375A3.376,3.376,0,0,1,11.25,32.625Zm22.5,0a3.375,3.375,0,1,1,3.375-3.375A3.376,3.376,0,0,1,33.75,32.625ZM39.375,18H29.25V10.125h3.1l7.024,7.024Z"
            fill="#e4202e" />
        </svg>
        Shipper List</ion-label>
      <ion-label menuClose (click)=pageOpenFromSidemenu(4) class="customeSideMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="32.136" height="28.566" viewBox="0 0 32.136 28.566">
          <path id="Icon_metro-drive-eta" data-name="Icon metro-drive-eta"
            d="M34.85,9.515a2.685,2.685,0,0,0-2.535-1.8H12.676a2.685,2.685,0,0,0-2.535,1.8L6.427,20.21V34.492a1.791,1.791,0,0,0,1.785,1.785H10a1.785,1.785,0,0,0,1.785-1.785V32.707H33.207v1.785a1.791,1.791,0,0,0,1.785,1.785h1.785a1.785,1.785,0,0,0,1.785-1.785V20.21L34.85,9.515ZM12.676,27.351a2.678,2.678,0,1,1,2.678-2.678A2.674,2.674,0,0,1,12.676,27.351Zm19.639,0a2.678,2.678,0,1,1,2.678-2.678A2.674,2.674,0,0,1,32.314,27.351ZM10,18.424l2.678-8.034H32.314l2.678,8.034Z"
            transform="translate(-6.427 -7.712)" fill="#e4202e" />
        </svg>
        Driver List</ion-label>
      <ion-label menuClose (click)=pageOpenFromSidemenu(5) class="customeSideMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="31.5" viewBox="0 0 45 31.5">
          <path id="Icon_awesome-users" data-name="Icon awesome-users"
            d="M6.75,15.75a4.5,4.5,0,1,0-4.5-4.5A4.5,4.5,0,0,0,6.75,15.75Zm31.5,0a4.5,4.5,0,1,0-4.5-4.5A4.5,4.5,0,0,0,38.25,15.75ZM40.5,18H36a4.487,4.487,0,0,0-3.171,1.308A10.285,10.285,0,0,1,38.109,27H42.75A2.248,2.248,0,0,0,45,24.75V22.5A4.5,4.5,0,0,0,40.5,18Zm-18,0a7.875,7.875,0,1,0-7.875-7.875A7.871,7.871,0,0,0,22.5,18Zm5.4,2.25h-.584a10.873,10.873,0,0,1-9.633,0H17.1A8.1,8.1,0,0,0,9,28.35v2.025a3.376,3.376,0,0,0,3.375,3.375h20.25A3.376,3.376,0,0,0,36,30.375V28.35A8.1,8.1,0,0,0,27.9,20.25Zm-15.729-.942A4.487,4.487,0,0,0,9,18H4.5A4.5,4.5,0,0,0,0,22.5v2.25A2.248,2.248,0,0,0,2.25,27H6.884A10.311,10.311,0,0,1,12.171,19.308Z"
            transform="translate(0 -2.25)" fill="#e4202e" />
        </svg>
        Users List</ion-label>

      <ion-label menuClose (click)=pageOpenFromSidemenu(6) class="customeSideMenu">

        <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
          <path fill="#e4202e"
            d="m499.953125 197.703125-39.351563-8.554687c-3.421874-10.476563-7.660156-20.695313-12.664062-30.539063l21.785156-33.886719c3.890625-6.054687 3.035156-14.003906-2.050781-19.089844l-61.304687-61.304687c-5.085938-5.085937-13.035157-5.941406-19.089844-2.050781l-33.886719 21.785156c-9.84375-5.003906-20.0625-9.242188-30.539063-12.664062l-8.554687-39.351563c-1.527344-7.03125-7.753906-12.046875-14.949219-12.046875h-86.695312c-7.195313 0-13.421875 5.015625-14.949219 12.046875l-8.554687 39.351563c-10.476563 3.421874-20.695313 7.660156-30.539063 12.664062l-33.886719-21.785156c-6.054687-3.890625-14.003906-3.035156-19.089844 2.050781l-61.304687 61.304687c-5.085937 5.085938-5.941406 13.035157-2.050781 19.089844l21.785156 33.886719c-5.003906 9.84375-9.242188 20.0625-12.664062 30.539063l-39.351563 8.554687c-7.03125 1.53125-12.046875 7.753906-12.046875 14.949219v86.695312c0 7.195313 5.015625 13.417969 12.046875 14.949219l39.351563 8.554687c3.421874 10.476563 7.660156 20.695313 12.664062 30.539063l-21.785156 33.886719c-3.890625 6.054687-3.035156 14.003906 2.050781 19.089844l61.304687 61.304687c5.085938 5.085937 13.035157 5.941406 19.089844 2.050781l33.886719-21.785156c9.84375 5.003906 20.0625 9.242188 30.539063 12.664062l8.554687 39.351563c1.527344 7.03125 7.753906 12.046875 14.949219 12.046875h86.695312c7.195313 0 13.421875-5.015625 14.949219-12.046875l8.554687-39.351563c10.476563-3.421874 20.695313-7.660156 30.539063-12.664062l33.886719 21.785156c6.054687 3.890625 14.003906 3.039063 19.089844-2.050781l61.304687-61.304687c5.085937-5.085938 5.941406-13.035157 2.050781-19.089844l-21.785156-33.886719c5.003906-9.84375 9.242188-20.0625 12.664062-30.539063l39.351563-8.554687c7.03125-1.53125 12.046875-7.753906 12.046875-14.949219v-86.695312c0-7.195313-5.015625-13.417969-12.046875-14.949219zm-152.160156 58.296875c0 50.613281-41.179688 91.792969-91.792969 91.792969s-91.792969-41.179688-91.792969-91.792969 41.179688-91.792969 91.792969-91.792969 91.792969 41.179688 91.792969 91.792969zm0 0" />
        </svg>
        Settings</ion-label>

      <ion-label menuClose (click)=pageOpenFromSidemenu(7) class="customeSideMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31.5" viewBox="0 0 36 31.5">
          <path id="Icon_open-account-logout" data-name="Icon open-account-logout"
            d="M13.5,0V4.5h18V27h-18v4.5H36V0ZM9,9,0,15.75,9,22.5V18H27V13.5H9Z" fill="#e4202e" />
        </svg>
        Logout</ion-label>

        
    </ion-row>



  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>