<ion-content>

  <!-- <ion-row>
    <ion-col text-center>
      <ion-thumbnail>
        <img src="assets/imgs/icon.png">
      </ion-thumbnail>
    </ion-col>
  </ion-row> -->

  <ion-card>
    <ion-card-header text-center>
      {{ 'VERSION_UPDATE.UPDATE_HEADER' | translate }}
    </ion-card-header>
    <ion-card-content>
      {{ 'VERSION_UPDATE.UPDATE_HEADER_DESC' | translate }}
    </ion-card-content>
  </ion-card>

  <section>
    <ion-row>
      <ion-col>
        <h5>{{ 'VERSION_UPDATE.FWATURES_LBL' | translate }}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="inline" *ngFor="let item of featureListArry">
          <ion-icon name="ios-checkmark-circle"></ion-icon>
          <p>{{item}}</p>
        </div>
      </ion-col>
    </ion-row>
  </section>

</ion-content>

<ion-footer text-center>
  <ion-row>
    <ion-col text-center>
      <h6>{{ 'VERSION_UPDATE.CURRENT_VERSION_LBL' | translate }} : {{currentVersion}}</h6>
    </ion-col>
    <ion-col text-center>
      <h6>{{ 'VERSION_UPDATE.UPDATE_VERSION_LBL' | translate }} : {{updatedVersion}}</h6>
    </ion-col>
  </ion-row>
  <button ion-button round icon-start color="primary" (click)="updateAppClick()">
    <ion-icon name="md-download"></ion-icon>{{ 'VERSION_UPDATE.UPDATE_NOW_BTN' | translate }}
  </button>
</ion-footer>
