// page-version-update {
//     .image{
//         position: absolute;
//         top: 10%;
//         right: 15%;
//         left: 15%;
//     }

//     .toCenter {
//         position: absolute;
//         top: 50%;
//         left: 20%;
//         right: 20%;
//     }

//     .toCenter ion-label{
//         text-align: center !important;
//         font-size: 14px;
//         font-weight: bold;
//         color: black;
//     }

//     button{
//         margin-top: 15px !important;
//         font-weight: bold;
//         text-transform: uppercase;
//     }
// }


.ios,
.md {
    page-version-update {
        ion-thumbnail {
            margin-top: 3rem; 

            img {
                height: 77px;
                margin: 0 auto;
            }
        }

        .content {
            background-color: #002d80;

            .card {
                background: #002d80;
                box-shadow: none;
                margin-top: 20%;
                ion-card-header {
                    font-family: 'Lato-Bold';
                    font-size: 1.7rem;
                    color: #fff;
                }

                ion-card-content {
                    font-family: 'Lato-Regular';
                    font-size: 1.4rem;
                    color: #fff;
                    text-align: center;
                }
            }

            section {
                padding: 0 3rem;

                h5 {
                    font-family: 'Lato-Bold';
                    font-size: 1.4rem;
                    color: #fff;
                    text-align: center;
                }

                .inline {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    ion-icon {
                        color: #22b573;
                        display: inline-block;
                        margin-right: 13px;
                        margin-top: 1px;
                    }

                    p {
                        font-family: 'Lato-Regular';
                        font-size: 1.2rem;
                        color: #fff;
                        margin: 0.2rem 0 0rem 0;
                        display: inline-block;
                        margin-top: 0;
                    }
                }
            }
        }

        ion-footer {
            &::before {
                background-image: none;
            }
            h6 {
                font-family: 'Lato-Regular';
                font-size: 1rem;
                color: #fff;
                margin: 1rem 0 2rem;
            }

            .button {
                font-family: 'Lato-SemiBold';
                font-size: 1.4rem;
                margin: 1rem 0 4rem;
                letter-spacing: 0.5px;
                padding: 2.3rem 2.6rem;
                text-transform: capitalize;
            }
        }
    }

}
