<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title text-center>Search</ion-title>
      <ion-buttons end (click)="CloseClick()">
        <button class="menuBtn" ion-button>
          <ion-icon class="menuIcon" name="close"></ion-icon>
        </button>
      </ion-buttons>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-input style="border: 1px solid lightgray;" [(ngModel)]="searchModel" type="text"
    (ionChange)="CustomerNameSearch()" placeholder="Search {{searchType}}"></ion-input>

  <div style="margin-top: 8px;padding: 16px;">

    <!-- Customer Search -->
    <div *ngFor="let items of customerListArry" style="padding: 11px;border: 1px solid lightgray;text-align: center;"
      (click)="customerSelectClick(items)">
      {{items.customer_name}}
    </div>

    <!-- Location Search -->
    <div *ngFor="let items of locationListArry" style="padding: 11px;border: 1px solid lightgray;text-align: left;"
      (click)="customerSelectClick(items)">
      {{items.text}}
    </div>

    <!-- Driver Search -->
    <div *ngFor="let items of driverListArry" style="padding: 11px;border: 1px solid lightgray;text-align: left;"
      (click)="customerSelectClick(items)">
      {{items.driver_name}}
    </div>

  </div>





</ion-content>