page-profile {
  .align-item-center {
    align-items: center;
  }
  .myview {
    background: #f3f5f8;
    padding: 30px;
  }
  .customHeader {
    padding: 16px;
    background: #fff;
    width: 100%;
    color: #000 !important;
    display: flex;
    text-align: center;
    align-items: center;

    .headericons {
      width: 25px;
      height: 25px;
    }
    .textWhite {
      div {
        color: #000 !important;
        font-size: 24px;
      }
    }
  }

  /* profile page css */

  .profileBannerDIV {
    background: linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    background-position: center;
    background-size: unset;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(200, 36, 47) 0%, rgb(70, 32, 30) 100%);
    box-shadow: 0 2px 6px #707070;
    width: 100%;
    padding: 20px 15px;
    display: block;

    .UserProfileimage {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }

  .ProfileBox {
    padding: 0 10px;
    width: 100%;
    position: relative;

    .profileHading {
      font-size: 2.5rem;
      color: #333;
    }

    .profileLabel {
      margin: 0;
    }

    .profileCard {
      background: #fff;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin: 5px 0 20px 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    .labelHading {
      margin: 0;
      color: #999;
      font-size: 13px;
      white-space: pre-line;
      padding-right: 15px;
    }

    .labelDetails {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      @extend .labelHading;
    }
  }

  .labelBox {
    padding-bottom: 10px;
  }

  .editMailbtn {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: -5px;
    float: right;

    svg {
      width: 100%;
    }
  }

  .profileLogOut {
    width: calc(100%);
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d7202b;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .changeMailID {
    padding: 0;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    .phoneInput.input {
      width: 70% !important;
      flex: auto;
      float: left;
      input {
        border: 1px solid #ccc;
        padding: 7px 5px !important;
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 0;
      }
    }

    .saveBtn {
      width: 30%;
      float: left;
      color: #fff;
      font-size: 12px;
      background: #d7202b;
      margin: 0;
      height: 100%;
      padding: 7px 5px;
      min-height: 33px;
      border: 1px solid #d7202b;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .fuildEdit {
    display: flex;
    width: 100%;
    flex-flow: row;

    span {
      width: 20px;
    }
  }

  .appversionLbl {
    text-align: center;
    font-size: 12px;
    color: darkgray;
    font-weight: bold;
    margin: 16px;
  }
}
