<ion-header class="customHeader">
  <img class="headericons" src="assets/imgs/header-icon.png">
  <ion-title class="textWhite">Profile</ion-title>
</ion-header>

<ion-content class="myview">
  <ion-row text-center>
    <div class="profileBannerDIV d-flex">
      <img class="UserProfileimage" src="{{userData.image}}">
    </div>
  </ion-row>

  <ion-row>
    <ion-col col-12>
      <div class="ProfileBox">
        <ion-label class="profileLabel">
          <h2 class="profileHading">Profile</h2>
        </ion-label>
        <div class="profileCard">
          <ion-row>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">First Name : </ion-label>
              <ion-label class="labelDetails">{{userData.firstname}}</ion-label>
            </ion-col>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Last Name : </ion-label>
              <ion-label class="labelDetails">{{userData.lastname}}</ion-label>
            </ion-col>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Mobile Number : </ion-label>
              <ion-label class="labelDetails">{{userData.phone}}</ion-label>
            </ion-col>
            <ion-col col-12 class="labelBox">
              <ion-label class="labelHading">Email : </ion-label>
              <div class="fuildEdit">
                <ion-label *ngIf="!isEmailEditable" class="labelDetails">{{userData.email}}</ion-label>
                <span *ngIf="!isEmailEditable" class="editMailbtn">
                  <svg (click)="emailEditClick()" xmlns="http://www.w3.org/2000/svg" width="32" height="32.139"
                    viewBox="0 0 32 32.139">
                    <g id="edit-button" transform="translate(-0.757)">
                      <path id="Path_206" data-name="Path 206"
                        d="M113.945.963,113.91.932a3.56,3.56,0,0,0-5.03.228L96.156,15.089a1.228,1.228,0,0,0-.258.44l-1.5,4.485a1.706,1.706,0,0,0,1.615,2.245h0a1.7,1.7,0,0,0,.685-.144l4.332-1.9a1.227,1.227,0,0,0,.415-.3l12.724-13.93A3.565,3.565,0,0,0,113.945.963ZM97.268,19.186l.878-2.632.074-.081,1.664,1.52-.074.081Zm15.09-14.85L101.541,16.179l-1.664-1.52L110.694,2.816a1.1,1.1,0,0,1,1.559-.07l.034.031A1.1,1.1,0,0,1,112.358,4.336Z"
                        transform="translate(-82.345)" fill="#333" />
                      <path id="Path_207" data-name="Path 207"
                        d="M28.963,42.153a1.4,1.4,0,0,0-1.4,1.4V55.414a3.556,3.556,0,0,1-3.55,3.554H7.1a3.556,3.556,0,0,1-3.55-3.554v-16.8A3.556,3.556,0,0,1,7.1,35.061H19.345a1.4,1.4,0,0,0,0-2.795H7.1A6.352,6.352,0,0,0,.757,38.615v16.8A6.353,6.353,0,0,0,7.1,61.763H24.017a6.353,6.353,0,0,0,6.342-6.349V43.55A1.4,1.4,0,0,0,28.963,42.153Z"
                        transform="translate(0 -29.623)" fill="#333" />
                    </g>
                  </svg>
                </span>
              </div>
              <div *ngIf="isEmailEditable" class="changeMailID">
                <ion-input class="phoneInput" type="email" placeholder="Enter your new email id"
                  [(ngModel)]="emailModal"></ion-input>
                <ion-label (click)="saveClick()" class="saveBtn">
                  Save
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </div>

        
        <button (click)="ResetPasswordCLick()" ion-button class="profileLogOut">Reset Password</button>
        <button (click)="LogoutClick()" ion-button class="profileLogOut">LOG OUT</button>
        
        <ion-label *ngIf="appVersion" class="appversionLbl"> App Version {{appVersion}}</ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>