<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>

      <ion-title>My Load</ion-title>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="mainContainer" *ngFor="let item of loadListArry; let index=index">

    <div class="subContainer">
      <ion-icon class="paperIcon" name="ios-paper"></ion-icon>
      <ion-label class="idLbl">{{item.load_id}}<br>
        <h6 class="statusLbl {{constant.loadStatus(item.status_data.current_status.id)}}">{{item.status_data.current_status.text}}</h6>
      </ion-label>
      <ion-icon (click)="expandViewClick(index)" class="dotIcon" name="md-more"></ion-icon>
    </div>

    <div class="subContainerTwo" *ngIf="indexExpandView == index">
      <ion-row>
        <!-- Left -->
        <ion-col col-3>
          <div class="loadRoutDeatils">
            <ul class="formtoTO align-self-start">
              <div *ngFor="let subItem of item.location_data; let index = index">
                <li *ngIf="subItem.progress_status == 'not start'" class="notStart">
                  <div *ngIf="index == 0">
                    From
                  </div>
                  <div *ngIf="index != 0">
                    To
                  </div>
                </li>
                <li *ngIf="subItem.progress_status == 'in progress'" class="inprogress">
                  <div *ngIf="index == 0">
                    From
                  </div>
                  <div *ngIf="index != 0">
                    To
                  </div>
                </li>
                <li *ngIf="subItem.progress_status == 'complete'" class="completed">
                  <div *ngIf="index == 0">
                    From
                  </div>
                  <div *ngIf="index != 0">
                    To
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </ion-col>

        <!-- Right -->
        <ion-col col-9>
          <ion-row>
            <!-- For Loop apply  -->
            <div *ngFor="let subItem of item.location_data; let index=index">
              <ion-col col-12 text-center *ngIf="index != 0">
                <div class="truckmainIcon formtoTO align-self-start">
                  <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" viewBox="0 0 50 40">
                      <path id="Icon_awesome-truck" data-name="Icon awesome-truck"
                        d="M48.75,27.5H47.5V19.055a3.75,3.75,0,0,0-1.1-2.648l-7.8-7.8a3.75,3.75,0,0,0-2.648-1.1H32.5V3.75A3.751,3.751,0,0,0,28.75,0h-25A3.751,3.751,0,0,0,0,3.75v25A3.751,3.751,0,0,0,3.75,32.5H5a7.5,7.5,0,0,0,15,0H30a7.5,7.5,0,0,0,15,0h3.75A1.254,1.254,0,0,0,50,31.25v-2.5A1.254,1.254,0,0,0,48.75,27.5ZM12.5,36.25a3.75,3.75,0,1,1,3.75-3.75A3.751,3.751,0,0,1,12.5,36.25Zm25,0a3.75,3.75,0,1,1,3.75-3.75A3.751,3.751,0,0,1,37.5,36.25ZM43.75,20H32.5V11.25h3.445l7.8,7.8Z"
                        fill="#fff" />
                    </svg>
                  </i>
                </div>
              </ion-col>
              <div class="loadIDdetails">
                <ion-label class="loadID">{{subItem.full_address}}</ion-label>
                <ion-label class="loadauthor">{{subItem.date}}</ion-label>
                <br>
                <ion-label *ngIf="subItem.record_type == 'pick_up_point'"
                  class="loadauthor thired-status">Pick-up Point</ion-label>
                <ion-label *ngIf="subItem.record_type != 'pick_up_point'"
                  class="loadauthor thired-status">Drop Point</ion-label>
              </div>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>

      <!----------------------------------------- Footer Button ------------------------------------------->
      <ion-row class="cutomeButtons">
        <button ion-button class="stopsButton" (click)="TrackOrderClick(item)">Track Load</button>
      </ion-row>
    </div>

    <!--------------------------------------- Dynamic Location  ----------------------------------------->




  </div>







  <ion-infinite-scroll style="position: absolute;" *ngIf="infiniteScrollEnable"
    (ionInfinite)="InfinitScrollingAPI($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>