page-home {
  .content {
    background-color: #f3f5f8;
  }
  .mainContainer {
    box-shadow: 0px 3px 15px 2px #cecece;
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 8px;
    background: white;
    padding: 12px 8px;
    margin-bottom: 12px;
    .subContainer {
      position: relative;
      .paperIcon {
        font-size: 24px;
        float: left;
        color: #d71f2b;
        margin-left: 8px;
        margin-top: 10px;
      }
      .idLbl {
        margin: 0;
        padding-left: 16px;
        font-size: 16px;
        font-weight: bold;
        width: calc(100% - 60px);
        .statusLbl {
          margin: 0;
          font-weight: normal;
          color: white;
          font-size: 11px;
          padding: 3px 10px;
          border-radius: 3px;
          margin-top: 3px;
          display: inline-block;
        }
      }
      .dotIcon {
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 30px;
        color: #d71f2b;
        padding: 3px 11px;
      }
    }

    .subContainerTwo {
      border-top: 1px solid lightgray;
      margin-top: 12px;
      .rowOne {
        .colOne {
          font-size: 12px;
          color: #999999;
        }
        .colTwo {
          text-align: right;
          font-weight: bold;
          font-size: 12px;
        }
      }

      .rowTwo {
        .colOne {
          font-size: 12px;
          color: #999999;
        }
        .colTwo {
          color: #999999;
          font-size: 26px;
          padding-top: 16px;
          text-align: center;
        }
        .colThree {
          font-size: 12px;
          text-align: right;
          color: #999999;
        }
      }

      .rowThree {
        margin: 0px 4px;
        margin-top: 8px;
        .colOne {
          text-align: center;
          background-color: #d71f2b;
          margin-right: 8px;
          color: white;
          font-size: 12px;
          border-radius: 4px;
          height: 35px;
          font-weight: bold;
          padding-top: 9px;
        }
        .colTwo {
          text-align: center;
          background-color: #d71f2b;
          margin-left: 8px;
          color: white;
          font-size: 12px;
          border-radius: 4px;
          height: 35px;
          font-weight: bold;
          padding-top: 9px;
        }
      }
    }
  }


  // custome load list
  .loadRoutDeatils {
    padding: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 100%;
    padding-bottom: 30px;

    .formtoTO {
      list-style-type: nonu;
      padding: 0 10px;
      margin: 0;
      list-style: none;
      position: relative;
      -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
      align-self: self-start;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: calc(100% - 48px);
        right: -10px;
        top: 26px;
        z-index: 1;
        border: 1px solid lightgray;
      }

      li {
        list-style-type: nonu;
        padding: 3px 8px;
        text-align: center;
        list-style: none;
        font-size: 12px;
        background: #e8ebef;
        margin-bottom: 15px;
        position: relative;

        &:last-child {
          margin: 0;
        }
      }

      .inprogress:after {
        content: "";
        display: block;
        position: absolute;
        height: 8px;
        background-color: #fff;
        right: -27px;
        width: 8px;
        border-radius: 50%;
        top: 5px;
        border: 4px solid #d7202b;
        z-index: 99;
      }

      .notStart:after {
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        background-color: #d7202b;
        right: -27px;
        width: 16px;
        border-radius: 50%;
        top: 5px;
        z-index: 22;
      }

      .completed:after{
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        background-color: green;
        right: -27px;
        width: 16px;
        border-radius: 50%;
        top: 5px;
        z-index: 22;
      }

    }
  }

  .truckmainIcon {
    display: flex;
    padding-left: 20%;

    i {
      height: 50px;
      justify-content: center;
      align-items: center;
      width: 50px;
      display: flex;
      border-radius: 50%;
      text-align: center;
      background: #d7202b;
      padding: 10px;
    }
  }

  .loadIDdetails {
    padding: 4px 10px 0px 10px;

    .loadID {
      margin: 0;
      font-size: 14px;
      color: #333;
      width: 100%;
      font-weight: 700;
      white-space: normal;
    }

    .loadauthor {
      margin: 5px 0 0 0;
      color: #999;
      width: auto;
      font-weight: 500;
      font-size: 12px;
      display: inline-block;
      border-radius: 4px;
    }
    .thired-status {
      color: #fff !important;
      border: none !important;
      padding: 3px 8px;
      background-color: #d7202b;
    }
  }

  .stopsButton{
    width: 100%;
    padding: 0;
    font-size: 12px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 12px;
    box-shadow: none;
    background: #d7202b;
    text-transform: uppercase;
    font-weight: 600;
  }

}
