<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>

      <ion-title *ngIf="!paramData">Add New Load</ion-title>
      <ion-title *ngIf="paramData">Edit Load</ion-title>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--------------------------- Header Indicator ----------------------------->

  <div class="step-nav-section">
    <ul>
      <li id="first" class="current">1</li>
      <li id="second" class="">2</li>
      <li id="third" class="">3</li>
    </ul>
  </div>


  <!-------------------------- First Part -------------------------->
  <div class="firstpartMainContainer">

    <ion-item style="padding-left: 0;" class="pageCustomHedaing">
      <ion-label>
        <h2>
          <svg id="Vector_Smart_Object" data-name="Vector Smart Object" xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" viewBox="0 0 16 16">
            <path id="Path_59" data-name="Path 59"
              d="M11,9a5.888,5.888,0,0,0,2-4A5,5,0,0,0,3,5,5.888,5.888,0,0,0,5,9c-2.765,1.261-5,3.768-5,7H2a6,6,0,0,1,12,0h2C16,12.768,13.765,10.261,11,9ZM5,5A3,3,0,1,1,8,8,3,3,0,0,1,5,5Z"
              fill="#d7202b"></path>
          </svg> Load Information </h2>
      </ion-label>
    </ion-item>

    <div class="inputContainer">
      <div class="input-group">
        <ion-label class="custominput-label">Customer</ion-label>
        <div class="input-box" (click)="customerNameSearchPageOepn()">
          <ion-label style="text-align: left;padding-left: 12px;">{{firstData.customerName}}</ion-label>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Load 
          <span class="artriskRed">*</span>
          </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="firstData.loadID" class="phoneInput" type="text" placeholder="Type here...">
          </ion-input>  
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Carrier</ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="firstData.carrier" class="phoneInput" type="text" placeholder="Type here...">
          </ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Priority</ion-label>
        <div class="input-box">
          <ion-item>
            <ion-label>Priority</ion-label>
            <ion-select [(ngModel)]="firstData.priority">
              <ion-option value="normal">Normal</ion-option>
              <ion-option value="high">High</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <!-- <div class="input-group">
        <ion-label class="custominput-label">Tracking</ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="firstData.tracking" class="phoneInput" type="text" placeholder="Type here...">
          </ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Consignment Reference</ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="firstData.cRefrence" class="phoneInput" type="text" placeholder="Type here...">
          </ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Consignment Sequence</ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="firstData.cSequence" class="phoneInput" type="text" placeholder="Type here...">
          </ion-input>
        </div>
      </div> -->

    </div>

    <ion-row class="pageSubmitRow">
      <ion-col class="ActionButton cancelButton" (click)="firstCancelClick()">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
          <path id="Path_171" data-name="Path 171" d="M-237.707-105.707l-1-1-5,5-6-5-1,1,5,6-5,5,1,1,6-5,5,5,1-1-5-5Z"
            transform="translate(250.707 106.707)" fill="#d71f2b"></path>
        </svg>
        Cancel</ion-col>
      <ion-col class="ActionButton doneButton" (click)="nextClick()">
        Next </ion-col>
    </ion-row>
  </div>

  


</ion-content>