page-addLoadAdmin {

  .toolbar-ios ion-title {
    padding: 0 0px 1px;
    text-align: left;
    .toolbar-title-ios {
      text-align: left;
      padding-left: 12px;
    }
  }
  .content {
    background-color: #e7ecf1;
  }

  .custominput-label{
    margin-bottom: 3px;
  }

  .step-nav-section {
    padding-top: 12px;
    text-align: center;
    width: 100%;
    background: #fff;
    height: 65px;
    margin-bottom: 16px;
    ul {
      list-style-type: none;
      text-align: center;
      position: relative;
      top: 0px;
      padding-top: 1px;
      right: 20px;
      li {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        background-color: #cccccc;
        padding: 2px 0 0;
        width: 25px;
        height: 25px;
        position: relative;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        margin-left: 15px;
        margin-right: 15px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background-color: #cccccc;
          left: -27px;
          width: 20px;
          top: 11px;
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
        &.current {
          background-color: #d7202b;
        }
      }
    }
  }

  .firstpartMainContainer{
    background: white;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 16px;
    .input-group {
      margin-top: 16px;
      .input-box {
        margin: 0;
        .item-block {
          min-height: 37px;
          .label-md {
            margin: 7px 8px 7px 0;
            font-size: 14px;
            opacity: 0.6;
          }
          .select-md {
            padding: 7px 8px 7px 16px;
            .select-text {
              font-size: 14px;
            }
          }
        }
        .item-md {
          padding-left: 10px;
        }
        .ion-md-calendar {
          position: absolute;
          right: 16px;
          color: #d7202b;
        }
        .datetime-ios {
          padding: 9px 10px;
        }
      }
    }
    .input-box {
      border: 1px solid #ccc;
      padding: 0;
      margin-top: 20px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      min-height: 40px;

      .input-icon {
        background: #e4e6e6;
        width: 15%;
        padding: 10px 5px !important;

        svg {
          height: 20px;
          width: 20px;
          fill: #fff;
        }
      }

      .phoneInput {
        display: flex;
        flex-flow: row wrap;

        .text-input {
          padding: 9px 10px;
          color: #333;
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  .pageSubmitRow {
    
    padding-top: 16px;
    
    .ActionButton {
      text-align: center;
      background-color: #d71f2b;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      margin: 0 8px;
      font-weight: 500;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.cancelButton {
        margin-left: 0;
        background: transparent;
        color: #d71f2b;
        border: 1px solid #d71f2b;
      }
      &.doneButton {
        margin-right: 0;
      }
      svg {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        path {
          fill: #d71f2b;
        }
      }
    }
  }
  
  
}
