<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title>Search Load</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col col-10>
        <ion-searchbar [(ngModel)]="searchModel" class="searchbarCont"></ion-searchbar>
    </ion-col>
    <ion-col col-2 (click)="SearchClick()">
      <ion-label class="searchBtn">Search</ion-label>
      
    </ion-col>
  </ion-row>
  
  
  <div class="mainContainer" *ngFor="let item of loadListArry; let index=index">

    <div class="subContainer"> 
      <ion-icon class="paperIcon" name="ios-paper"></ion-icon>
      <ion-label class="idLbl">{{item.load_id}}<br>
        <h6 class="statusLbl {{constant.loadStatus(item.status_id)}}">{{item.stauts_name}}</h6>
      </ion-label>
      <ion-icon (click)="expandViewClick(index)" class="dotIcon" name="md-more"></ion-icon>
    </div>

    <div class="subContainerTwo" *ngIf="indexExpandView == index">
      <ion-row class="rowOne">
        <ion-col class="colOne">Driver Name</ion-col>
        <ion-col class="colTwo">{{item.driver_name}}</ion-col>
      </ion-row>
      <ion-row class="rowTwo">
        <ion-col class="colOne" col-5>From <br> {{item.from}} </ion-col>
        <ion-col class="colTwo" col-2>
          <ion-icon style="font-weight: bold;" name="ios-arrow-round-forward-outline"></ion-icon>
        </ion-col>
        <ion-col class="colThree" col-5>To <br> {{item.to}}</ion-col>
      </ion-row>
      <ion-row class="rowThree">
        <ion-col (click)="CallToDriverClick(item)" class="colOne">CALL TO DRIVER</ion-col>
        <ion-col (click)="TrackOrderClick(item)" class="colTwo">TRACK ORDER</ion-col>
      </ion-row>
    </div>

  </div>

  <ion-infinite-scroll style="position: absolute;" *ngIf="infiniteScrollEnable"
    (ionInfinite)="InfinitScrollingAPI($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>