page-searchPage {
  .searchbarCont {
    padding: 0;
    height: 46px;
    box-shadow: none;
    .searchbar-input {
      box-shadow: none;
      background-color: #efefef;
    }
  }
  .searchBtn {
    margin: 0;
    font-size: 12px;
    background-color: #d71f2b;
    padding: 13px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 2px;
  }

  .content {
    background-color: #f3f5f8;
  }
  .mainContainer {
    box-shadow: 0px 3px 15px 2px #cecece;
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 8px;
    background: white;
    padding: 12px 8px;
    .subContainer {
      position: relative;
      .paperIcon {
        font-size: 24px;
        float: left;
        color: #d71f2b;
        margin-left: 8px;
        margin-top: 10px;
      }
      .idLbl {
        margin: 0;
        padding-left: 16px;
        font-size: 16px;
        font-weight: bold;
        width: calc(100% - 60px);
        .statusLbl {
          margin: 0;
          font-weight: normal;
          color: white;
          font-size: 11px;
          padding: 3px 10px;
          border-radius: 3px;
          margin-top: 3px;
          display: inline-block;
        }
      }
      .dotIcon {
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 30px;
        color: #d71f2b;
        padding: 3px 11px;
      }
    }

    .subContainerTwo {
      border-top: 1px solid lightgray;
      margin-top: 12px;
      .rowOne {
        .colOne {
          font-size: 12px;
          color: #999999;
        }
        .colTwo {
          text-align: right;
          font-weight: bold;
          font-size: 12px;
        }
      }

      .rowTwo {
        .colOne {
          font-size: 12px;
          color: #999999;
        }
        .colTwo {
          color: #999999;
          font-size: 26px;
          padding-top: 16px;
          text-align: center;
        }
        .colThree {
          font-size: 12px;
          text-align: right;
          color: #999999;
        }
      }

      .rowThree {
        margin: 0px 4px;
        margin-top: 8px;
        .colOne {
          text-align: center;
          background-color: #d71f2b;
          margin-right: 8px;
          color: white;
          font-size: 12px;
          border-radius: 4px;
          height: 35px;
          font-weight: bold;
          padding-top: 9px;
        }
        .colTwo {
          text-align: center;
          background-color: #d71f2b;
          margin-left: 8px;
          color: white;
          font-size: 12px;
          border-radius: 4px;
          height: 35px;
          font-weight: bold;
          padding-top: 9px;
        }
      }
    }
  }
}
