<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <button class="menuBtn" ion-button menuToggle>
        <ion-icon class="menuIcon" name="md-menu"></ion-icon>
      </button>
      <ion-title>LOAD LIST</ion-title>
      <ion-buttons end>
        <button ion-button (click)="AddNewLoadClick()">
          <ion-icon style="font-size: 30px;color: #d71e2b;" name="md-add-circle"></ion-icon>
        </button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar style="background: #e8e8e8;position: sticky;top: 0;z-index: 111;" [(ngModel)]="searchModel"
    [showCancelButton]="false" (ionInput)="searchChangeEvent($event)" (ionClear)="onCancelSearch($event)">
  </ion-searchbar>

  <div class="mainContainer" *ngFor="let item of loadListArry; let index=index">

    <div class="subContainer">
      <ion-icon class="paperIcon" name="ios-paper"></ion-icon>
      <div class="loadDetails">
        <div class="loadnormalDetails">
          <div class="d-flex">
            <ion-label class="idLbl">
              {{item.load_id}}
              <br>
              <h6 class="statusLbl {{constant.loadStatus(index)}}">{{item.stauts_name}}</h6>
            </ion-label>
            <ion-icon (click)="expandViewClick(index)" class="dotIcon" name="md-more"></ion-icon>
          </div>

        </div>

        <div class="subContainerTwo" *ngIf="indexExpandView == index">
          <ion-row class="rowOne">
            <ion-col class="colOne">Shipper</ion-col>
            <ion-col class="colTwo">{{item.customer_name}}</ion-col>
          </ion-row>
          <ion-row class="rowOne">
            <ion-col class="colOne">Drive</ion-col>
            <ion-col class="colTwo">{{item.driver_name}}</ion-col>
          </ion-row>
          <ion-row class="rowTwo">
            <ion-col class="colOne" col-5><strong>From</strong> <br> {{item.from}}</ion-col>
            <ion-col class="colTwo" col-2>
              <ion-icon style="font-weight: bold;" name="ios-arrow-round-forward-outline"></ion-icon>
            </ion-col>
            <ion-col class="colThree" col-5><strong>To</strong> <br> {{item.to}}</ion-col>
          </ion-row>
          <ion-row class="rowThree">
            <ion-col class="colOne d-flex" (click)="viewLoadClick(item)"> <svg xmlns="http://www.w3.org/2000/svg"
                width="31.873" height="21.249" viewBox="0 0 31.873 21.249">
                <path id="Icon_awesome-eye" data-name="Icon awesome-eye"
                  d="M31.681,14.317A17.748,17.748,0,0,0,15.937,4.5,17.751,17.751,0,0,0,.193,14.317a1.79,1.79,0,0,0,0,1.615,17.748,17.748,0,0,0,15.744,9.817,17.751,17.751,0,0,0,15.744-9.817A1.79,1.79,0,0,0,31.681,14.317ZM15.937,23.093a7.968,7.968,0,1,1,7.968-7.968A7.968,7.968,0,0,1,15.937,23.093Zm0-13.281a5.274,5.274,0,0,0-1.4.21,2.648,2.648,0,0,1-3.7,3.7,5.3,5.3,0,1,0,5.1-3.912Z"
                  transform="translate(0 -4.5)" fill="#fff" />
              </svg>
              View</ion-col>
            <ion-col (click)="editLoadClick(item)" class="colTwo d-flex editButton"> <svg
                xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                <path id="Icon_material-mode-edit" data-name="Icon material-mode-edit"
                  d="M4.5,24.289V29.5H9.708L25.067,14.137,19.859,8.93ZM29.094,10.11a1.383,1.383,0,0,0,0-1.958L25.844,4.9a1.383,1.383,0,0,0-1.958,0L21.345,7.444l5.208,5.208,2.541-2.541Z"
                  transform="translate(-4.5 -4.496)" fill="#f5f4f4" />
              </svg>
              Edit</ion-col>
            <ion-col (click)="deleteLoadClick(item)" class="colTwo d-flex deleteButton"> <svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
                <g id="Group_1212" data-name="Group 1212" transform="translate(-605 -393)">
                  <path id="Icon_metro-bin" data-name="Icon metro-bin"
                    d="M6.037,9.741V25.366a1.555,1.555,0,0,0,1.538,1.563H21.422a1.555,1.555,0,0,0,1.538-1.562V9.741H6.037ZM10.653,23.8H9.114V12.866h1.538Zm3.077,0H12.191V12.866H13.73Zm3.077,0H15.268V12.866h1.538Zm3.077,0H18.345V12.866h1.538Zm3.462-18.75h-5V3.1a1.166,1.166,0,0,0-1.154-1.172H11.806A1.166,1.166,0,0,0,10.653,3.1V5.053h-5A1.166,1.166,0,0,0,4.5,6.225V8.178h20V6.225A1.166,1.166,0,0,0,23.345,5.053Zm-6.538,0H12.191V3.51h4.615V5.053Z"
                    transform="translate(600.501 391.072)" fill="#fff" />
                </g>
              </svg>

              Delete</ion-col>
          </ion-row>
        </div>
      </div>
    </div>



  </div>

  <ion-infinite-scroll style="position: absolute;" *ngIf="infiniteScrollEnable"
    (ionInfinite)="InfinitScrollingAPI($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</ion-content>