<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title *ngIf="!paramData">Add New User</ion-title>
      <ion-title *ngIf="paramData">Edit User</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="pageCustomHedaing">
    <ion-label>
      <h2>
        <svg id="Vector_Smart_Object" data-name="Vector Smart Object" xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" viewBox="0 0 16 16">
          <path id="Path_59" data-name="Path 59"
            d="M11,9a5.888,5.888,0,0,0,2-4A5,5,0,0,0,3,5,5.888,5.888,0,0,0,5,9c-2.765,1.261-5,3.768-5,7H2a6,6,0,0,1,12,0h2C16,12.768,13.765,10.261,11,9ZM5,5A3,3,0,1,1,8,8,3,3,0,0,1,5,5Z"
            fill="#d7202b"></path>
        </svg> Add New User </h2>
    </ion-label>
  </ion-item>

  <div class="divMainLoginContiner">
    <div class="inputContainer">

      <div class="input-group">
        <ion-label class="custominput-label">User Type
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-item>
            <ion-label>User Type</ion-label>
            <ion-select [(ngModel)]="adminUserModel.user_type_id">
              <ion-option *ngFor="let item of userAdminTypeList" value="{{item.id}}">{{item.text}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">First Name 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.firstName" class="phoneInput" type="text"
            placeholder="Enter first name"></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Last Name 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.lastName" class="phoneInput" type="text" placeholder="Enter last name">
          </ion-input>
        </div>
      </div>


      <div class="input-group">
        <ion-label class="custominput-label">Email 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.email" class="phoneInput" type="text" placeholder="Enter email">
          </ion-input>
        </div>
      </div>

      <div class="input-group" *ngIf="!editAdminUserData">
        <ion-label class="custominput-label">Password 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.password" class="phoneInput" type="password" placeholder="Enter password">
          </ion-input>
        </div>
      </div>

      <div class="input-group" *ngIf="!editAdminUserData">
        <ion-label class="custominput-label">Confirm Password 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.confirm_password" class="phoneInput" type="password"
            placeholder="Enter confirm password"></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Contact No 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.phone" class="phoneInput" type="number" placeholder="Enter contact no">
          </ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Extra Number (optional)</ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.extra_phone" class="phoneInput" type="text"
            placeholder="Enter extra number"></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Address </ion-label>
        <div class="input-box">
          <ion-input [(ngModel)]="adminUserModel.address" class="phoneInput" type="text" placeholder="Enter address">
          </ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Address Details </ion-label>
        <div class="input-box">
          <ion-textarea [(ngModel)]="adminUserModel.address_details" class="phoneInput" rows="6" cols="20"
            placeholder="Enter address detail..."></ion-textarea>
        </div>
      </div>

      <div *ngIf="!adminUserModel.profilePic" class="input-group">
        <ion-label class="custominput-label">Profile Picture </ion-label>
        <div class="input-boxFileUpload" (click)="uploadProfilePIC()">
          <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
          <span class="editProfilePic">
            <svg height="25" viewBox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.5,24.289V29.5H9.708L25.067,14.137,19.859,8.93ZM29.094,10.11a1.383,1.383,0,0,0,0-1.958L25.844,4.9a1.383,1.383,0,0,0-1.958,0L21.345,7.444l5.208,5.208,2.541-2.541Z"
                data-name="Icon material-mode-edit" fill="#f5f4f4" id="Icon_material-mode-edit"
                transform="translate(-4.5 -4.496)"></path>
            </svg>
          </span>
        </div>
      </div>

      <div class="input-group" *ngIf="adminUserModel.profilePic">
        <ion-label class="custominput-label">Profile Picture </ion-label>
        <div class="input-boxFileUpload" (click)="uploadProfilePIC()">
          <img style="height: 100px;" src="{{this.adminUserModel.profilePic}}">
        </div>
      </div>

    </div>


    <ion-row class="pageSubmitRow">
      <ion-col (click)="cancelClick()" class="ActionButton cancelButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
          <path id="Path_171" data-name="Path 171" d="M-237.707-105.707l-1-1-5,5-6-5-1,1,5,6-5,5,1,1,6-5,5,5,1-1-5-5Z"
            transform="translate(250.707 106.707)" fill="#d71f2b"></path>
        </svg>
        Cancel</ion-col>
      <ion-col (click)="saveClick()" class="ActionButton doneButton">
        Save </ion-col>
    </ion-row>
  </div>

</ion-content>