<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-title *ngIf="!paramData">Add New Address</ion-title>
      <ion-title *ngIf="paramData">Edit Address</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item class="pageCustomHedaing">
    <ion-label>
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="11.987" height="15.813" viewBox="0 0 11.987 15.813">
          <g id="address_icon" transform="translate(-74.013 -36.002)">
            <path id="Path_188" data-name="Path 188"
              d="M83.954,37.488a6.029,6.029,0,0,0-4.764-1.434,6.185,6.185,0,0,0-5.138,6.888c.441,4.056,3.568,7.272,4.891,8.465a1.574,1.574,0,0,0,2.118,0C82.546,50.062,86,46.459,86,42A6,6,0,0,0,83.954,37.488ZM80,49.66c-1.12-1.068-3.616-3.774-3.96-6.934a4.178,4.178,0,0,1,3.411-4.69A4.314,4.314,0,0,1,80,38a3.958,3.958,0,0,1,2.632.991A4.005,4.005,0,0,1,84,42C84,45.461,81.225,48.492,80,49.66Z"
              fill="#d71f2b"></path>
            <circle id="Ellipse_27" data-name="Ellipse 27" cx="2" cy="2" r="2" transform="translate(78 40)"
              fill="#d71f2b"></circle>
          </g>
        </svg> Create Individual Address </h2>
    </ion-label>
  </ion-item>

  <div class="divMainLoginContiner">

    <div class="inputContainer">
      <div class="input-group">
        <ion-label class="custominput-label">Select Location
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <input style="padding: 8px;" #search_address id="search_address" class="phoneInput" [(ngModel)]="dataModel.searchLocation" (focus)="SearchLocationChange()" type="text" placeholder="Find your location">
        </div> 
        <div style="border: 1px solid lightgray;
        text-align: left;
        padding: 8px;" *ngFor="let item of autocompleteItems" (click)="selectAddress(item)">
          {{item.description}}
        </div>
      </div>

      <div class="input-group">
        <div style="height: 180px;width: 100%;z-index: 11111;" #map  class="mapContainer" id="mapContainers"></div> 
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Location Name 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.locationName" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Address Line 1 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.addressLineOne" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Address Line 2 </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.addressLineTwo" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">City 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.city"  type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">State 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.state" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Postal Code 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.postCode" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Country 
          <span class="artriskRed">*</span>
        </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.country" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Latitude </ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.latitude" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custominput-label">Longitude</ion-label>
        <div class="input-box">
          <ion-input class="phoneInput" [(ngModel)]="dataModel.longitude" type="text" placeholder="Type here..."></ion-input>
        </div>
      </div>

    </div>

    <ion-row class="pageSubmitRow">
        <ion-col class="ActionButton cancelButton" (click)="cancelClick()">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
            <path id="Path_171" data-name="Path 171" d="M-237.707-105.707l-1-1-5,5-6-5-1,1,5,6-5,5,1,1,6-5,5,5,1-1-5-5Z"
              transform="translate(250.707 106.707)" fill="#d71f2b"></path>
          </svg>
          Cancel</ion-col>
        <ion-col class="ActionButton doneButton" (click)="saveClick()">
          Save </ion-col>
      </ion-row>
  </div>

</ion-content>